/*------------------------------------------------------------ Theme Lavanda*/
$nomeTema:'Lavanda';
$LightColor:#C39EFF;
$LightColorSt:'#C39EFF';

$MediumColor:#B492EC;

$DarkColor:#9276BF;
$DarkColorSt:'#9276BF';