/*------------------------------------------------------------ Theme Verde Oliva*/
$nomeTema:'VerdeOliva';
$LightColor:#75A879;
$LightColorSt:'#75A879';

$MediumColor:#69986D;

$DarkColor:#517554;
$DarkColorSt:'#517554';