<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebAPILoggerConfig" type="BNE.ExceptionLog.WebAPILoggerConfigurationSection, BNE.ExceptionLog" />
  </configSections>
  <WebAPILoggerConfig ApplicationName="BNE.Mensagem.AsyncExecutor" EndpointURL="http://localhost:64746/api"></WebAPILoggerConfig>
  <appSettings>
    <add key="PathPlugins" value=".\Plugins" />
    <add key="HabilitaCache" value="True" />
    <add key="CommandTimeout" value="600" />
    <add key="GravaLogAuditoria" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Mensagem" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_MENSAGEM;User ID=bnemensagem_app;Password=123;;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_MENSAGEM;User ID=bnemensagem_app;Password=123;;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_NEW_LOGERRO;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReluzCap Web ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservices.twwwireless.com.br/reluzcap/wsreluzcap.asmx" binding="basicHttpBinding" bindingConfiguration="ReluzCap Web ServiceSoap" contract="wsSMSTWW.ReluzCapWebServiceSoap" name="ReluzCap Web ServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>