<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BNE.Dashboard.ServerMonitor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <BNE.Dashboard.ServerMonitor.Settings>
            <setting name="SendStatisticsInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="GetStatisticInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AplicationName" serializeAs="String">
                <value>SINE</value>
            </setting>
            <setting name="DashboardAPI" serializeAs="String">
                <value>http://dashboard.bne.com.br/webapi/</value>
            </setting>
            <setting name="DashboardAPI_Dev" serializeAs="String">
                <value>http://localhost:5048/</value>
            </setting>
            <setting name="SolrCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolrURL" serializeAs="String">
                <value>http://10.114.113.2015:8983/solr/SINE_VAGA_PRD/select?q=*%3A*&amp;wt=json&amp;sort=score+desc,Dta_Inicio+desc,Dta_Cadastro+desc</value>
            </setting>
            <setting name="SqlCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SqlConnection" serializeAs="String">
                <value>Data Source=EMPHW0114209\PRD;Initial Catalog=SINE_PRD;User ID=SINE_app;Password=s1n3pr0d@2014;</value>
            </setting>
            <setting name="SqlCommand" serializeAs="String">
                <value>SELECT TOP 1 * FROM SINE.SIN_Vaga</value>
            </setting>
        </BNE.Dashboard.ServerMonitor.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>