<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StoragesConfig" type="BNE.StorageManager.StoragesConfigSection, BNE.StorageManager" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <!--<add name="CONN_BNE" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; " />-->
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0295\HOM2012;Initial Catalog=PLATAFORMA_LOGERRO_BNE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPHW0114209\PRD;Initial Catalog=PLATAFORMA_LOGERRO_PRD;Persist Security Info=True;User ID=logerro_app;Password=l0g3rr0pr0d@2013;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNE_WEB" />
  </connectionStrings>
  <!--storageType: local ou objectStorage -->
  <StoragesConfig>
    <ObjectStorages>
      <ObjectStorage name="public" url="https://tor01.objectstorage.softlayer.net" account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8" container="BNE_Prd_Public" user="SLOS390380-2:franciscoribas" apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff" />
      <ObjectStorage name="private" url="https://tor01.objectstorage.softlayer.net" account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8" container="BNE_Prd_Private" user="SLOS390380-2:franciscoribas" apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff" />
    </ObjectStorages>
    <Folders>
      <Folder name="curriculos">
        <Storages>
          <Storage type="Local" path="C:\curriculos" name="local" Enabled="false" />
          <Storage type="ObjectStorage" storageFolder="curriculos" name="private" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
    </Folders>
  </StoragesConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
