<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=301880
	-->
<configuration>
  <configSections>
    <section name="BNE.Log.Configuration" type="BNE.Log.Configuration, BNE.Log" />
  </configSections>
  <BNE.Log.Configuration Tamanho="5" Timeout="00:00:10" PersistenceLibrary="BNE.Log.ADO.ReadWriteDbLog, BNE.Log.ADO" />
  <connectionStrings>
    <add name="BNE.Log" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_LOG_ERRO;User ID=logerro_app;Password=123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EnderecoBNE" value="teste.bne.com.br" />
    <add key="KeyGatewayPessoaFisica" value="25E5BCFF-EBCA-421D-8CF7-9A006200692E" />
    <add key="EnderecoApiPessoaFisica" value="http://localhost:51218" />
    <!--<add key="EnderecoApiPessoaFisica" value="http://gatewayapiteste.bne.com.br" />-->
    <!--<add key="EnderecoApiPessoaFisica" value="http://localhost:9000" />-->

    <add key="UrlAutocompleteFuncao" value="//wsteste.bne.com.br/cep/api/funcao" />
    <add key="UrlAutocompleteCidade" value="//wsteste.bne.com.br/cep/api/cidade" />
    <add key="LimiteAutocompleteFuncao" value="40" />
    <add key="LimiteAutocompleteCidade" value="40" />
    <add key="PathToStaticFiles" value="" />
    <add key="pathRoutes" value="" />
    <add key="GravaLogAuditoria" value="False" />
    <add key="BNE.Log.App" value="pessoafisica.bne.com.br" />
  </appSettings>
  <system.web>
    <globalization culture="pt-BR" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey compatibilityMode="Framework20SP2" validationKey="02A71285DC9C22B42D0DF698C75F2687E429E3A3FDE33152E4C1401411EC8EFE7E240B7A63E9C446B4BF9529F44EA6834E904BCC4A0980DE960D5005CC5CADF1" decryptionKey="B5077466FA9BA9AEFDB7C37AD6084481305BAB3E30C41E56A9B2FF69098D3BD3" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms name=".BNEASPXAUTH" loginUrl="http://teste.bne.com.br/Login.aspx" domain=".bne.com.br" timeout="2880" ticketCompatibilityMode="Framework40" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="BNEAuthModule" />
      <remove name="SessionTimeoutModule" />
      <remove name="RadUploadModule" />
      <add name="AdjustClaimsAuthModule" preCondition="managedHandler" type="BNE.Auth.NET45.HttpModules.AdjustClaimsAuthModule, BNE.Auth.NET45" />
    </modules>
    <handlers>

      <!--<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
    </handlers>
  </system.webServer>
</configuration>
