/*------------------------------------------------------------ Theme Laranja2*/
$nomeTema:'Laranja2';
$LightColor:#FF6604;
$LightColorSt:'#FF6604';

$MediumColor:#EC5F04;

$DarkColor:#A84403;
$DarkColorSt:'#A84403';