@model BNE.PessoaFisica.Web.Models.ConfirmarEmail

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BNE - Banco Nacional do Emprego</title>
</head>
<body>
    <div>
    <h1>OPS!</h1>
        <h2>Ocorreu um erro ao confirmar o seu e-mail.</h2>
        <h3>Tente novamente clicando <a href="#">aqui</a></h3>
    </div>
</body>
</html>
