.containerBanners{display:block;float:left;height:100px;margin-left:0px;margin-top:26px;margin-bottom:26px;width:880px;}
.containerBanner1{display:block;float:left;height:73px;margin-left:0px;margin-top:0px;width:382px;}
.containerBanner2{display:block;float:left;height:73px;margin-left:30px;margin-top:0px;width:454px;}
.containerDepoimento{display:block;float:left;height:228px;margin-left:30px;margin-top:36px;width:100%;}
