/*------------------------------------------------------------ Theme Rosé*/
$nomeTema:'Rose';
$LightColor:#FF1D51;
$LightColorSt:'#FF1D51';

$MediumColor:#E21C49;

$DarkColor:#B51A3D;
$DarkColorSt:'#B51A3D';