/*------------------------------------------------------------ Theme Marfim*/
$nomeTema:'Marfim';
$LightColor:#BFB097;
$LightColorSt:'#BFB097';

$MediumColor:#B0A28B;

$DarkColor:#8F8371;
$DarkColorSt:'#8F8371';