/*------------------------------------------------------------ Theme Cargo*/
$nomeTema:'Cargo';
$LightColor:#A4BFAE;
$LightColorSt:'#A4BFAE';

$MediumColor:#9CB6A6;

$DarkColor:#6D7F74;
$DarkColorSt:'#6D7F74';