<div class="col-lg-4">
    <label class="title">{{value.text}}</label>
</div>
<div class="col-lg-2">
    <p><label class="checkbox-inline"><small>Básico</small></label></p>
    <p><input type="radio"></p>
</div>
<div class="col-lg-2">
    <p><label class="checkbox-inline"><small>Intermediário</small></label></p>
    <p><input type="radio"></p>
</div>
<div class="col-lg-2">
    <p><label class="checkbox-inline"><small>Fluente</small></label></p>
    <p><input type="radio"></p>
</div>
<div class="col-lg-2">
    <a href ng-click="cadCV.idiomasCandidato.splice($index,1)">X</a>
</div>