body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #E1E1E1;
}
.bredcrumb {
    margin: 8px auto;
    font-size: 12px;
}
.clear { clear: both;}
h4.tit_pag { float: left; font-size: 18px; font-family: 'Roboto', sans-serif;}
.plano_1 { border: 1px solid #d2d2d2; float: left; width: 394px; height: 250px; position: relative; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.plano_2 { border: 1px solid #d2d2d2; float: right; width: 394px; height: 250px; position: relative; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.mod_plano { background: #2b64b2; color: #fff; text-align: center; padding: 16px 0px 16px 0px; -webkit-border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px; border-radius: 10px 10px 0px 0px;}
.mod_plano2 { background: #54b8e3; color: #fff; text-align: center; padding: 16px 0px 16px 0px; -webkit-border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px; border-radius: 10px 10px 0px 0px;}
span.tit_bdc { font-weight: bolder; color: #2b64b2; margin-right: 10px; font-family: 'Roboto', sans-serif;}
i.fa-trophy { color: #eab240; font-size: 16px;}
span.txt_bdc { color: #666666; font-family: 'Roboto', sans-serif;}
div.select_plano {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f8f8f8;
    padding: 8px 16px;
    margin-top: 32px;
}
span.txt_pla { font-size: 20px; font-weight: 200; }
span.plan_escolhido { font-size: 26px; font-weight: 600; color: #2b64b2;margin-left:8px;}
div.cert_seg {
    margin: 4px 0 32px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}
i.fa-lock { color: #bbbbbb; font-size: 16px; margin-right:4px}
p.lib_imedi {
    margin: 0;
    font-size: 15px;
    text-align: center; /*float: left;*/
    background: #bbbbbb;
    color: #fff;
    font-weight: 200; /*width:280px; height:30px; padding-top:8px; margin-right: 27px;*/
    padding:4px;
}
p.lib_2dias {
    margin: 0;
    font-size: 15px;
    text-align: center; /*float: left;*/
    background: #bbbbbb;
    color: #fff;
    font-weight: 200; /*width:572px; height:30px; padding-top:8px*/
    padding: 4px;
}
ul.abas2 { list-style-type: none; margin: 0; padding: 0; background: red; }
.TabControl{/*width: 884px; overflow: hidden; height: 200px; position: relative; top: -18px; height: auto; float: left; margin-top: 25px;*/}
.TabControl #headerTabs { width: 100%;  overflow:hidden; cursor: hand; margin-left:0px; padding:16px 0;}
.TabControl #contentTabs { padding:16px;/*width: 100%; overflow: hidden; height: 100%;*/ }
.TabControl .abas2{ display: inline;  }
 .abas2 li{ float: left; cursor: pointer; font-size: 12px; list-style-type: none; }
.selected span, .aba span { color: #aaaaaa; position: relative;  font-weight: 700; font-size: 16px; }
.aba { /*float: left; width: 130px; height: 81px; text-align: center;*/ 
       background: #fff; border: 1px solid #aaaaaa; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
       height:80px;
       display:flex;
       flex-direction:column;
       align-items:center;
       justify-content:center;
}

.TabControl #contentTabs{ 
    background: #efefef; /*margin-top: 40px; width: 882px;  border-top: 0px;  min-height: 300px;*/ 
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 

}
.selected{ /*width: 130px; height: 81px; text-align: center;*/ background: #fff; border: 1px solid #2b64b2; }
.selected span { color: #2b64b2; }
.aba:hover  { border: 1px solid #2b64b2;  }
.aba:hover span  { color: #2b64b2;}
* {  margin: 0; padding: 0
}


.selected:before { content:""; border: 1px solid #e5e5e5; position: absolute; width: 0; height: 0; border-top: 20px solid transparent; border-left: 20px solid transparent; border-bottom: 30px solid #efefef; border-right: 20px solid transparent; margin: 75px 0 0 0px; }
#contentTabs .conteudo{ display: none; overflow:hidden; }
.mg_l { /*margin-left: 15px;*/}
.mg_l2 { /*margin-left: 27px;*/}
.mg_l3 { /*margin-left: 15px;*/}
span.icon { font-size: 28px; /*top: 15px; text-align: center;  position: relative;*/ }
/*.cartao_credito { margin: 30px 0px 0px 100px;}*/
.cartao_credito {/*margin-top:30px;*/}
.conteudo_other {/*margin-left:100px;margin-top:30px;*/display:flex;flex-direction:column;align-items:center;}
.conteudo_other_1 {/*margin-left:10px;margin-top:30px;*/}
.selec_bandeiras { /*margin: 40px 0px 0px 120px;  width: 200px; float: left;*/display:flex;align-items:center;justify-content:center;flex-direction:column;}
.text_c { font-weight: 700;  font-size: 18px; /*margin-left: -220px;*/ }
.dados_cartao { /*width: 480px; height: 200px;  float: right;*/
    
}
img.img_t { top: 20px; position: relative;  }
img.img_t2 { top: 7px; position: relative; }
/*.text_d {font-weight: 700;  float: left; margin-right: 6px; position: relative; margin-top:8px;}
.text_z {font-weight: 700;  float: left; margin-right: 6px; position: relative; margin-top:8px;}
span.text_e {font-weight: 700; position: relative; margin-left: 49px; margin-right: 5px; float: left;}
span.text_f {font-weight: 700; position: relative; margin: 9px  8px 0px -2px; float: left;}
span.text_g {font-weight: 700; position: relative; margin-left: 28px; float: left; margin-right: 5px; margin-top: 6px; }
span.text_g2 {font-weight: 700; position: relative; margin-left: 18px; float: left; margin-right: 5px; margin-top: 6px; }
span.text_h {font-weight: 700; position: relative; margin-left: 54px;  margin-right: 5px; top: 1px; }
span.text_i {font-weight: 700; position: relative;  margin: 6px 5px 0px 20px; float: left;} 
span.text_j {font-weight: 400;  text-align: center; position: relative; margin-left: 75px; font-size: 16px; }
span.text_m {font-weight: 400;  text-align: center; position: relative; margin-left: 95px; font-size: 16px; }
span.text_o {font-weight: 800;  text-align: center; position: absolute; margin: 40px 0px 0px 245px; font-size: 16px; }
span.text_p {font-weight: 800;  text-align: center; position: absolute; margin: 55px 0px 0px 295px; font-size: 16px; }
span.text_q {font-weight: 400;  text-align: center; position: relative; margin-left: 15px; font-size: 16px; }
span.text_t {font-weight: 700;  text-align: center; position: relative; margin: 0px 5px 0px 5px; top: 1px; }*/
p.text_n {font-weight: 400;  position: relative; margin: 10px 0px 0px 0px; font-size: 14px;}
.numero_car .textbox_padrao  {  display: block; width: 250px; height: 28px; background: #f8f7f7; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-left: 5px; font-family: 'Roboto', sans-serif; margin: -18px 0px 8px 106px;}

.nome_car .textbox_padrao {
    /*display: block;
    width: 250px;
    height: 28px;
    background: #f8f7f7;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    margin: -18px 0px 8px 106px;*/
}

.cpf_banco .campo_obrigatorio  {  display: block; width: 230px; height: 28px; background: #f8f7f7; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-left: 5px; font-family: 'Roboto', sans-serif; margin: -18px 0px 0px 0px;}

label.custom-select  { position: relative; display: inline-block; margin-top: -10px; background: #f8f7f7; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;border: 1px solid #d2d2d2; }
label.custom-select select { font-size: 10px; display: inline-block; font-family: 'Roboto', sans-serif; width: 153px; padding: 5px 3px 5px 5px; margin: 0; font: inherit; outline:none; border: 0px;  line-height: 1.2; background: #f8f7f7; color:#aba9b2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;   }
label.custom-select:after { content: "▼";  position: absolute; top: 0; right: 0; bottom: 0; font-size: 60%; line-height: 30px;  padding: 0 7px; background: #f8f7f7; color: black; z-index: -100; }
.no-pointer-events .custom-select:after { content: none; }
label.custom-select2 { 
    position: relative; display: inline-block; /*margin-top: -10px;*/ 
    border: 1px solid #d2d2d2;background: #f8f7f7;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  }
.custom-select2 select { font-size: 10px; display: inline-block; font-family: 'Roboto', sans-serif; width: 100px; padding: 4px 3px 5px 5px; margin: 0; font: inherit; outline:none; border: 0px;  line-height: 1.2; background: #f8f7f7; color:#aba9b2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;   }
.custom-select2:after { content: "▼";  position: absolute; top: 0; right: 0; bottom: 0; font-size: 60%; line-height: 30px;  padding: 0 7px; background: #f8f7f7; color: black;  z-index: -100; }
.no-pointer-events .custom-select2:after { content: none; }
.seg_car #cphConteudo_txtCodigoVerificadorCartao_txtValor{ width: 90px!important; height: 28px; background: #f8f7f7; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-left: 5px; font-family: 'Roboto', sans-serif;}
i.fa-question-circle { font-size: 12px;  position: relative; color: #9e9b9b; }
i.fa-question-circle:hover { color: #2b64b2; cursor: pointer;}
.md_atent { display: none; width: 100px;height: 70px; /*float: right;*/ background: #cfcfcf; /*margin: -7px 105px 0px 0px;*/ position: absolute; -moz-border-radius: 5px;  -webkit-border-radius: 5px;  border-radius: 5px; }
.md_atent:before {    content:""; position: absolute; width: 0; height: 0;  border-top: 13px solid transparent; border-right: 26px solid #cfcfcf; border-bottom: 13px solid transparent; margin: 13px 0 0 -25px; }
i.fa-question-circle:hover ~ .md_atent { display: table; }
img.img_t3 { top: 6px; left: 4px; position: relative; }
img.img_t4 { /*top: 12px; left: 4px; position: relative;*/ width:75%;height:inherit;margin:32px 0 16px;}
img.img_t5 { padding-top: 80px; }
.icon_hsbc {float:left; text-align:center;}
.finilazar_cp { 
    background: #72992f; 
    border: 1px solid #608225; 
    font-family: 'Roboto', sans-serif; 
    color: #fff; 
    font-size: 18px; 
    font-weight: 700; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px; 
    padding: 8px 16px; 
    cursor: pointer;}
.finilazar_cp:hover {/*background: #608225;*/ }
/*#cphConteudo_txtAgenciaDebitoHSBC{width: 140px; height: 28px; background: #f8f7f7; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-left: 5px; font-family: 'Roboto', sans-serif;}*/
/*#cphConteudo_txtContaCorrenteDebitoHSBC{width: 140px; height: 28px; background: #f8f7f7; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-left: 5px; font-family: 'Roboto', sans-serif;}*/
/*#cphConteudo_txtDigitoDebitoHSBC{width: 90px; height: 28px; background: #f8f7f7; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-left: 5px; font-family: 'Roboto', sans-serif;}*/

.agen_c .textbox_padrao .campo_obrigatorio{ width: 140px; height: 28px; background: #f8f7f7; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-left: 5px; font-family: 'Roboto', sans-serif;}
.agen_d { width: 60px; height: 28px; background: #f8f7f7; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-left: 5px; font-family: 'Roboto', sans-serif;}
/*.finilazar_cp2 { 
    background: #72992f; 
    border: 1px solid #608225; 
    font-family: 'Roboto', sans-serif; 
    color: #fff; font-size: 18px; font-weight: 700; 
    -moz-border-radius: 4px;  -webkit-border-radius: 4px;  border-radius: 4px; 
    padding: 8px 16px; cursor: pointer;}
.finilazar_cp2:hover {background: #608225; }
.finilazar_cp3 {
    background: #72992f;
    border: 1px solid #608225;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}
.finilazar_cp3:hover {background: #608225; }*/
.esp_dados_b { width: 200px; height: 100px;  float: left; margin: 25px 0px 20px -20px;}
i.fa-long-arrow-right{ float: left; position: relative; font-size: 28px; margin: 50px 25px 0px 25px; color: #2b64b2;}
i.fa-print, i.fa-calendar, i.fa-desktop { font-size: 32px; background: #2b64b2; color: #fff; -moz-border-radius: 70px;  -webkit-border-radius: 70px;  border-radius: 70px; padding: 20px; margin-left: 65px; }
.barra_azul { background-color: #2b64b2 !important; }
#cphConteudo_txtNumeroCartao_pnlValidador span.validador{/*margin:-16px 0 0 109px;position:absolute;*/}
label.bandeira {
    color: #1e3260;
    float: none;
    margin-left: 20px;

}
#cphConteudo_CustomValidatorVencimento{/*width:300px;margin:-18px 0 0 0; position:absolute;*/}
#cphConteudo_txtCPFDebitoHSBC_pnlValidador span.validador{/*margin:-16px 0 0 2px;position:absolute;*/}
#cphConteudo_CustomValidatorObrigaContaHSBC{/*margin:-16px 0 0 -3px;position:absolute;*/}
#cphConteudo_txtCPFDebitoHSBC_txtValor{margin-bottom:7px;}

.painel_avisos {
    display: none;
    position: fixed;
    cursor: pointer;
    opacity: 0.9 !important;
    width: 100% !important;
    /*height: 40px;*/
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    background-color: #fffeb7;
    border-top: 1px solid #e4e270;
    border-bottom: 1px solid #e4e270;
    font-size: 15px;
    font-weight: bold;
    z-index: 100;
}
#lblFormasPgtoDisponiveis
{
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
}
#DivInfoFormasPgto{
    
}
.cursorNotAllowed
{
    cursor: not-allowed;
}

#cphConteudo_BalaoSaibaMais_CancelamentoCartaoCredito_BalaoSaibaMais_CancelamentoCartaoCredito_tooltip, 
#cphConteudo_BalaoSaibaMais_CancelamentoHsbc_BalaoSaibaMais_CancelamentoHsbc_tooltip
{
    top: -100px;
    left: -100px;
}

#cphConteudo_BalaoSaibaMais_CancelamentoCartaoCredito_BalaoSaibaMais_CancelamentoCartaoCredito_tooltip::after,
#cphConteudo_BalaoSaibaMais_CancelamentoHsbc_BalaoSaibaMais_CancelamentoHsbc_tooltip::after
{
    display: none;
}

/* CSS NOVO*/
.selec_Banco {list-style: none;padding: 0; margin-top:8px;margin-left:calc(50% - 184px)}
.selec_Banco:after {content: "";clear: both;}
.selec_Banco_tp {box-sizing: border-box;float:left;/*padding-top:20px;height: 55px;*/position: relative;width: 160px;/*margin-top:4px;*/margin:12px;}
.selec_Banco_tp label {bottom: 0px;cursor: pointer;display: block;font-size: 0;left: 0px;position: absolute;right: 0px;text-indent: 100%;top: 0px;white-space: nowrap;border-radius:8px;border:solid 2px #efefef; }
label.banco_BancoBrasil  {background: url('/img/pagamento/selec_Opcao_BancoBrasil.png') no-repeat right;}
label.banco_BancoBradesco  {background: url('/img/pagamento/selec_Opcao_BancoBradesco.png') no-repeat right;}
.selec_Banco_tp input:focus + label {border-radius:8px;border:solid 2px #72992f; }
.selec_OpcaoPagto_title {/*margin-top:30px;*/ text-align:center; font-weight:bold;}
.selec_Opcao--desc {text-align: center; font-size: 11px;}
#DivSelDebitoEmConta.recorrente{margin-left:175px !important; }

.textTermosdeUso{
    font-size: 13px !important;
    margin: 88px 0 20px 20px !important;
    color: black !important;
    text-align: justify !important;
    overflow-y: scroll !important;
    height: 421px !important;
    padding-right: 20px !important;
    
}
.tituloTemosDeUso{
   font-size: 18px !important;
    text-align: center !important;
    color: black !important;
    margin-top: 74px !important;
    position: absolute !important;
    left: 34% !important;

}
.imgTermosDeUso{
    position: absolute !important;
    left: 44% !important;
    justify-content: center !important;
    margin-top: 20px !important;
}

.closeTermosDeUso{
    margin-top: 15px !important;
    margin-right:19px !important;
}

.paragrafoTermoDeUso{
    text-indent: 20px !important;
    color: black;

}
.conteudo {
    min-height:auto;
}
.formas_pag p {
    margin:0;
}
.nome-campo {
    font-weight:bold;
    font-size:12px;
    /*color:orange;*/
}
.formasPagtoCollapse .row {
    display: flex;
    margin: 12px 0;
    flex-wrap:wrap;
}
.formasPagtoCollapse input[type="text"] {
    padding: 8px !important;
    width: 100%;
    min-height: 32px !important;
    /*border-radius: 4px;*/
    border: solid 1px rgba(0,0,0, .12) !important;
    /*box-shadow: 0 2px 2px rgba(0,0,0, .12);*/
}
.formasPagtoCollapse select {
    padding: 8px !important;
    width: 100%;
    min-height: 32px !important;
    /*border-radius: 4px;*/
    border: solid 1px rgba(0,0,0, .12) !important;
    color: inherit;
    /*box-shadow: 0 2px 2px rgba(0,0,0, .12);*/
}
.formasPagtoCollapse input[type="radio"] {
    margin: 4px 4px 0;
}
.half-inputs {
    display:flex;
    clear:both;

}
.half-inputs > div{
    width:50%;
}
    
    
.half-inputs select {
    padding: 8px;
    width: 100%;
    min-height: 32px;
    /*border-radius: 4px;*/
    border: none;
    /*box-shadow: 0 2px 2px rgba(0,0,0, .12);*/
}
.msg-cancelamento {
    display:flex;
    justify-content:center;
    color:rgba(0,0,0, .27);
}
.FormaPagto {
    background-color:#fff;
    border-radius:4px;
    box-shadow:0 0 8px rgba(0,0,0, .12); 
}
.tpFormaPagto_tab {
    padding:16px;
    border-bottom:solid 1px rgba(0,0,0, .27);
}

.panel-heading {
    display: flex;
    justify-content:space-between;
    align-items:center;
    text-decoration:none !important;
}
.panel-heading:hover {
    text-decoration: none !important;
}
.panel-heading h6{
    text-transform:uppercase;
    font-weight:bold;
}
.bandeiraImg {
    max-height:32px;
}
.liberacao {
    border-top:solid 1px rgba(0,0,0, .27);
    display:flex;
    justify-content:center;
    margin:32px 0 16px ;
}
.liberacao p {
    margin: 0;
    margin-top: -17px;
    padding: 8px;
    background-color: #e1e1e1;
    text-transform: uppercase;
}
.boleto-list-items{
    display:flex;
    justify-content:space-around;
}
.actionFrmpagto {
    margin-top:16px;
}
.panel-body {
    padding:8px 0 16px !important
}
.panel-body > div.center{
    padding: 4px 8px;
}
.panel-body > div.center + div.center {
    padding: 0 8px 4px;
}
#formasPagtoIntro h4 {
    font-weight: lighter !important;
    
}

.esconderFormasPagamento {
   display:none;
}



