.destaque_texto
{
    color: #153E78;
}

.plano_vantagens
{
    overflow: hidden;
}
.seta_plano
{
    background: url('../../img/BG_setameuplano_azul.png') bottom;
    width: 838px;
    height: 124px;
    overflow: hidden;
}
.icn_plano
{
    float: left;
    margin: 22px 23px 0 23px;
}
.icn_plus
{
    float: left;
    margin: 30px 0 30px 0;
}

.info_add_plano
{
    float: left;
}
.info_add_plano h2
{
    color: #153e78;
    margin: 0 0 5px 5px;
    height: auto;
}


.info_add_button
{
    overflow: hidden;
}


.tabela_planos
{
    border-collapse: collapse;
}


.tabela_planos th
{
    border-left: 1px solid white;
}


.tabela_planos td
{
    border-left: 1px solid white;
}

tbody
{
    background: #fff;
}

.tabela_planos thead
{
    background: #e3eaf1;
    border-bottom: solid 1px gray;
    background: url('../../img/bg_header_table_azul.png') bottom;
    font-size: 12px;
    font-weight: bold;
    color: #153E78;
}

.col_serv
{
    width: 170px;
    padding: 5px;
}

.col_basico, .col_ilimitado
{
    width: 70px;
    padding: 5px 10px;
    text-align: center;
}

.linha_in
{
    background: #e3eaf1;
    font-size: 11px;
}
.linha_in, .linha_normal
{
    font-size: 11px;
}

.texto_e_botao
{
    float: right;
    width: 460px;
    margin-top: 35px;
}

.texto_vantagens
{
    font-weight: bold;
    color: #153e78;
    text-align: center;
    margin-top: 10px;
}
.btn_compra
{
    margin-top: 35px;
    text-align: center;
}

.btn_compra a
{
    color: gray;
    float: right;
    font-weight: bold;
    margin: 5px 30px 0 0;
    text-decoration: none;
}

.btn_compra a:hover
{
    text-decoration: underline;
}

.caracteristicas_plano
{
}
.caracteristicas_plano a
{
    color: #153E78;
    font-weight: bold;
    font-size: 11px;
}
.caracteristicas_plano ul
{
    padding: 0;
    margin: 0;
}
.caracteristicas_plano ul li
{
    list-style-type: none;
    margin: 5px 0;
}
.caracteristicas_plano ul li .label_campo
{
    font-weight: bold;
    color: #143D75 !important;
}

/*-
.header{ font-weight:bold; color:#4d7526; background:#e6ede2; overflow:hidden;}
-*/
.salavip_continuar
{
    margin-top:30px;
}
.salavip_continuar .valores
{
    float: left;
    margin-left:20px;
    padding-right:10px;
}

.salavip_continuar .valores .por_apenas
{
    color: #153E78;
    display: block;
    font-size: 16px;
    position: relative;
    top: 10px;
}
.salavip_continuar .valores .cifrao
{
    font-size: 12px;
    color: #153e78;
}
.salavip_continuar .valores .valor
{
    font-size: 58px;
    color: #ff9600;
    font-weight:bold;
}
.salavip_continuar .valores .valido
{
    font-size: 11px;
    color: #153e78;
    display: block;
    margin-left:80px;
}

.btn_cancelar_assinatura 
{
    font-size: 12px; 
    background:none!important;
    border:none!important;
    color:#143D75;
    margin-left:-4px
}

.alert {
    margin-left : 50px; !important;
    float:left;
}
.btn_cancelar_assinatura:hover
{
    text-decoration:underline!important;
}

.btn_sim_cancelarAss {margin-right: 25px; margin-left:25px; height:32px; color:#666; background:#fff; border:none; margin-right:20px;}
.btn_sim_cancelarAss:hover {text-decoration:underline}
.btn_nao_cancelarAss {padding-right: 25px; padding-left:25px; height:32px; background-color:#3CB371; color:#fff; border:none; border-radius:12px;}
.btn_MeLigue_cancelarAss {padding-right: 25px; padding-left:25px; height:32px; background-color:#4682B4; color:#fff; border:none; border-radius:12px;}



.mobile-cancelation {
  font-family: 'Roboto', Arial, sans-serif !important;
  color: rgba(0, 0, 0, 0.87) !important; }
  .mobile-cancelation a {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    outline: none !important; }
  .mobile-cancelation h1, .mobile-cancelation h2, .mobile-cancelation h3, .mobile-cancelation h4, .mobile-cancelation h5, .mobile-cancelation h6, .mobile-cancelation p {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important; }
  .mobile-cancelation p {
    font-size: 0.8em !important; }
 .mobile-cancelation h6 {
    font-size: 1.05em !important; }
  .mobile-cancelation h5 {
    font-size: 1em !important; }
  .mobile-cancelation h4 {
    font-size: 1.7em !important; }
  .mobile-cancelation h3 {
    font-size: 1.75em !important; }
  .mobile-cancelation h2 {
    font-size: 2.6em !important; }
  .mobile-cancelation h1 {
    font-size: 2.1em !important; }
  .mobile-cancelation .clear {
    clear: both !important; }
  .mobile-cancelation .cancelation-title {
    text-align: center !important;
    margin-bottom: 32px;
    padding-top: 24px; }
    .mobile-cancelation .cancelation-title h4 {
      color: rgba(0, 0, 0, 0.54) !important; }
    .mobile-cancelation .cancelation-title h2 {
      padding-bottom: 32px !important; }
  .mobile-cancelation .cancelation-success-icon {
    border-radius: 50%;
    text-align: center; }
    .mobile-cancelation .cancelation-success-icon svg {
      margin: auto; }
  .mobile-cancelation .cancelation-question {
    max-width: 320px;
    margin: auto;
    margin-bottom: 32px; }
    .mobile-cancelation .cancelation-question h4 {
      text-align: center !important;
      padding-bottom: 24px !important; }
    .mobile-cancelation .cancelation-question .checkbox {
      margin-top: 6px; }
    .mobile-cancelation .cancelation-question label {
      color: rgba(0, 0, 0, 0.54) !important; font-size: 1.25em !important }
    .mobile-cancelation .cancelation-question input[type="checkbox"] {
      outline: none !important;
      margin-right: 8px; }
    .mobile-cancelation .cancelation-question textarea {
      width: 100% !important;
      font-family: 'Roboto', Arial, sans-serif !important;
      margin-top: 8px;
      padding: 8px;
      font-size: 14px !important; }
  .mobile-cancelation .cancelation-facets {
    display: flex;
    layout-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px; }
    .mobile-cancelation .cancelation-facets .cancelation-facet {
      margin: 8px;
      display: flex; }
      .mobile-cancelation .cancelation-facets .cancelation-facet > div:first-child {
        padding: 8px;
        background-color: #BDBDBD;
        display: flex;
        align-items: center; }
        .mobile-cancelation .cancelation-facets .cancelation-facet > div:first-child svg path {
          fill: rgba(0, 0, 0, 0.54); }
      .mobile-cancelation .cancelation-facets .cancelation-facet > div:last-child {
        padding: 8px 16px;
        background-color: #E0E0E0; }
        .mobile-cancelation .cancelation-facets .cancelation-facet > div:last-child h6 {
          font-weight: 500;
          color: rgba(0, 0, 0, 0.87); }
        .mobile-cancelation .cancelation-facets .cancelation-facet > div:last-child h3 {
          text-transform: uppercase;
          font-weight: lighter;
          color: rgba(0, 0, 0, 0.54); }
  .mobile-cancelation .cancelation-actions {
    text-align: center !important;
    padding-bottom: 24px; }
    .mobile-cancelation .cancelation-actions .btn {
      font-family: 'Roboto', Arial, sans-serif !important;
      text-transform: uppercase;
      font-size: 1.0em !important;
      font-weight: 500 !important; 
      margin-bottom: 8px;
      outline: none !important;
      padding: 8px 24px !important;
      border-radius: 4px !important;
      border: 0;
      min-width: 240px; }
      .mobile-cancelation .cancelation-actions .btn.btn-success {
        background-color: #8bc34a;
        color: #ffffff !important;
        font-weight: bold; }
        .mobile-cancelation .cancelation-actions .btn.btn-success:hover {
          background-position: center center !important;
          text-decoration: underline !important;
          cursor: pointer; }
      .mobile-cancelation .cancelation-actions .btn.btn-link {
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.54) !important;
        font-size: 0.75em; }
        .mobile-cancelation .cancelation-actions .btn.btn-link:hover {
            text-decoration: underline !important;
          background-color: #eceff1;
          cursor: pointer; }

/*# sourceMappingURL=styles.css.map */

input[type="radio"], input[type="checkbox"]{
    float:left !important;
}
