<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="urlSite" value="http://teste.bne.com.br" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="diretorioAplicacao" value="E:\sites\teste.bne.com.br\" xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes" />
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <applicationSettings>
    <BNE.Services.Properties.Settings>
      <setting name="BNE_Services_BNE_BuscarCurriculo_BuscarCurriculo"
               serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>http://webservicesteste.bne.com.br/BuscarCurriculo.asmx</value>
      </setting>
      <setting name="BNE_Services_wsPessoaFisicaFoto_wsPessoaFisicaFoto"
               serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>http://teste.meusalariohoje.com.br/WebServices/wsPessoaFisicaFoto.asmx</value>
      </setting>
      <setting name="DiretorioAplicacao"
               serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>E:\Program Files (x86)\Employer\BneServices</value>
      </setting>
      <setting name="BNE_Services_wsTransacao_wsTRANSACAO" serializeAs="String" xdt:Locator="Match(name)"
               xdt:Transform="Replace">
        <value>http://wstesteglobal.webfopag.com.br/wsTRANSACAO.asmx</value>
      </setting>
    </BNE.Services.Properties.Settings>
  </applicationSettings>
</configuration>