/*------------------------------------------------------------ Theme Agata*/
$nomeTema:'Agata';
$LightColor:#7f0039;
$LightColorSt:'#7f0039';

$MediumColor:#720032;

$DarkColor:#40001a;
$DarkColorSt:'#40001a';