/*------------------------------------------------------------ Theme Cinza Escuro*/
$nomeTema:'CinzaEscuro';
$LightColor:#6d6d6d;
$LightColorSt:'#6d6d6d';

$MediumColor:#666666;

$DarkColor:#424242;
$DarkColorSt:'#424242';