<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BNE.Services.Pagamento.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CONN_BNE" connectionString="Data Source=192.168.0.11\sql2008;Initial Catalog=BNE_DEV;User ID=bne_app;Password=123; Connect Timeout=120"/>
  </connectionStrings>
  <appSettings>
    <add key="MaximoThreads" value="2" />

  </appSettings>
</configuration>