$primarycolor:#72992F/*#8bc34a*/;
$accentcolor:#cddc39;
$ultradarkcolor:darken($primarycolor, 25%);
$darkcolor:darken($primarycolor, 5%);
$mediumcolor:$primarycolor;
$lightcolor:lighten($primarycolor, 20%);
$ultralightcolor:lighten($primarycolor, 30%);
$ultralightercolor:lighten($primarycolor, 40%);