<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BNE.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BNE.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="StoragesConfig" type="BNE.StorageManager.StoragesConfigSection, BNE.StorageManager" allowLocation="true" allowDefinition="Everywhere" />
    <section name="BufferLogConfig" type="Employer.PlataformaLog.Conf.BufferLogConfig, Employer.PlataformaLog" />
    <section name="LogErrorConfig" type="Employer.PlataformaLog.Conf.LogErrorConfig, Employer.PlataformaLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BNE.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--storageType: local ou objectStorage -->
  <StoragesConfig>
    <ObjectStorages>
      <ObjectStorage name="public" url="https://tor01.objectstorage.softlayer.net" account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8" container="BNE_Hom_Public" user="SLOS390380-2:franciscoribas" apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff" />
      <ObjectStorage name="private" url="https://tor01.objectstorage.softlayer.net" account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8" container="BNE_Hom_Private" user="SLOS390380-2:franciscoribas" apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff" />
    </ObjectStorages>
    <Folders>
      <Folder name="siteMapsCurriculo">
        <Storages>
          <Storage name="" type="ObjectStorage" storageFolder="siteMapsCurriculo" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="siteMapsVagas">
        <Storages>
          <Storage name="" type="ObjectStorage" storageFolder="siteMapsVagas" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="siteMapsEmpresas">
        <Storages>
          <Storage name="" type="ObjectStorage" storageFolder="siteMapsEmpresas" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="siteMapsGeral">
        <Storages>
          <Storage name="" type="ObjectStorage" storageFolder="siteMapsGeral" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
    </Folders>
  </StoragesConfig>
  <BufferLogConfig Tamanho="50" Timeout="00:00:30">
  </BufferLogConfig>
  <LogErrorConfig>
    <HttpLogErrorIgnore>
      <!--<add statusCode="404"></add>
      <add statusCode="403"></add>-->
    </HttpLogErrorIgnore>
  </LogErrorConfig>
  <connectionStrings>
     <!--<add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNE_WEB" />-->
    <add name="CONN_BNE" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000;MultipleActiveResultSets=True;  " />
    <!--<add name="CONN_BNE" connectionString="Data Source=EMPVW0375\BNEPRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=240000;" />-->
    <add name="CONN_NOTIFICACAO" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_Notificacao_HOM;User ID=bne_app;Password=123;" />
    <!--<add name="CONN_NOTIFICACAO" connectionString="Data Source=EMPVW0375\BNEPRD;Initial Catalog=BNE_Notificacao_PRD;User ID=bne_imp;Password=w3bBn3N0vo;Application Name=BNEService;"/>-->
    <add name="plataforma" connectionString="Data Source=Empvw5205\PRDST;Initial Catalog=WIF_PRD2;User ID=login_app;Password=W38f0p@6;Application Name=BNE_WEB" />
    <add name="CONN_SISTMARS" connectionString="Data Source=BNE-BD\sql2005;Initial Catalog=sistmars_dev;User ID=sistmars_dev;Password=123; Connect Timeout=120" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0150\HOM2012;Initial Catalog=PLATAFORMA_LOGERRO_BNE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CONN_CLOUDTAG" connectionString="Data Source=BNE-BD\HOM2012;Initial Catalog=CLOUD_TAG_HOM;User ID=bne_app;Password=123;" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="39" />
    <add key="MaximoThreads" value="2" />
    <add key="urlSite" value="http://dev.bne.com.br" />
    <add key="diretorioAplicacao" value="C:\Projetos_Serv36\BNE\BNE\BNE-v.Dev\BNE.Web\" />
    <add key="CommandTimeout" value="900" />
    <add key="GravaLogAuditoria" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--CIELO-->
    <add key="cielo.webservice.url" value="https://qasecommerce.cielo.com.br/servicos/ecommwsec.do" />
    <add key="cielo.customer.id" value="1006993069" />
    <add key="cielo.customer.key" value="25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3" />
    <add key="cielo.language.id" value="0" />
    <add key="cielo.currency.id" value="986" />
    <add key="cielo.return.url" value="null" />
    <add key="cielo.habilitado" value="1" />
    <!--AMAZON SIMPLEEMAIL-->
    <add key="AWSProfileName" value="www.bne.com.br" />
    <add key="AWSRegion" value="us-west-2" />
    <!--Desabilitado = 0 Habilitado = 1-->
    <!-- Cache -->
    <add key="HabilitaCache" value="True" />
    <add key="KeyPath" value="C:\crypt\b\k.txt" />
    <add key="horaExecucaoBoleto" value="9" />
    <add key="minutoExecucaoBoleto" value="30" />
    <add key="UtilizaPagarMe" value="True" />
    <add key="UtilizaCielo" value="True" />
    <add key="DefaultApiKeyPagarMe" value="ak_test_DzkAmdoa4vR0H07ZK5i6ElpH9Unxer" />
    <add key="DefaultEncryptionKeyPagarMe" value="ek_test_x8qI9IrDKFvTqcC4We3tSSTRgL8qBM" />
    <add key="urlRetorno" value="http://localhost:2000/ConfirmacaoPagamento.aspx" />

  </appSettings>
  <applicationSettings>
    <BNE.Services.Properties.Settings>
      <setting name="PessoaFisicaFotoChave" serializeAs="String">
        <value>0c088ab7-ae45-40a6-9736-cf344d801aa4</value>
      </setting>
      <setting name="DiretorioAplicacao" serializeAs="String">
        <value>C:\Employer-TFS36\BNE\BNE\BNE-v.Dev\BNE.Web</value>
      </setting>
      <setting name="SubDiretorioFoto" serializeAs="String">
        <value>/ArquivosTemporarios/ErroFotoTemp</value>
      </setting>
      <setting name="AtualizarCurriculoHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="AtualizarCurriculoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="ArquivarVagaHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="AtualizarPlanoHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="EmissaoBoletoAntesTerminoPlanoHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="EmissaoBoletoAposTerminoPlanoHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="AtualizarEmpresaDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnviarConviteCandidatoPorMSNHoraExecucao" serializeAs="String">
        <value>02:00</value>
      </setting>
      <setting name="EnviarConviteCandidatoPorMSNDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="RastreadorCurriculoMinutoExecucao" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RastreadorCurriculoDelayMinutos" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="EnvioVagasEmMassaDelayMinutos" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="RastreadorVagasDelayMinutos" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ArquivarVagaDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="AtualizarPlanoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EmissaoBoletoAntesTerminoPlanoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EmissaoBoletoAposTerminoPlanoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="AbandonoCompraDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="AtualizarEmpresaHoraExecucao" serializeAs="String">
        <value>02:00</value>
      </setting>
      <setting name="EnvioEmailBoasVindasSiteTrabalheConoscoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnvioEmailBoasVindasSiteTrabalheConoscoHoraExecucao" serializeAs="String">
        <value>00:01</value>
      </setting>
      <setting name="BNE_Services_BNE_BuscarCurriculo_BuscarCurriculo" serializeAs="String">
        <value>http://webservicesteste.bne.com.br/BuscarCurriculo.asmx</value>
      </setting>
      <setting name="BNE_Services_wsTransacao_wsTRANSACAO" serializeAs="String">
        <value>http://wshomglobal.webfopag.com.br/wstransacao.asmx</value>
      </setting>
      <setting name="LogName" serializeAs="String">
        <value>BNE</value>
      </setting>
      <setting name="EnviarConviteAdicionarMSNHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="EnviarCurriculoHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="EnviarCurriculoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="AtualizarCurriculoForaFaixaDelayMinutos" serializeAs="String">
        <value>10080</value>
      </setting>
      <setting name="EnvioEmailDelayMinutos" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AtualizaSitemapExecutarNoStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AbandonoCompraHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="EnvioSMSSemanalDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnvioEmailHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="BNESmtpAccount" serializeAs="String">
        <value>noreplybne</value>
      </setting>
      <setting name="BNESmtpPass" serializeAs="String">
        <value>0slo20sp029s</value>
      </setting>
      <setting name="BNESmtAddress" serializeAs="String">
        <value>200.193.137.46</value>
      </setting>
      <setting name="AtualizaSitemapSiteTrabalheConoscoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="AtualizaSitemapSiteTrabalheConoscoHoraExecucao" serializeAs="String">
        <value>16:15</value>
      </setting>
      <setting name="EnvioSMSSemanalHoraExecucao" serializeAs="String">
        <value>09:26</value>
      </setting>
      <setting name="EnvioVagasEmMassaHoraExecucao" serializeAs="String">
        <value>02:00</value>
      </setting>
      <setting name="AtualizarCurriculoForaFaixaHoraExecucao" serializeAs="String">
        <value>14:25</value>
      </setting>
      <setting name="EmailVagaFacilDelayMinutosEnvio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EmailVagaFacilDelayMinutosRetorno" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="InativarCurriculoHoraExecucao" serializeAs="String">
        <value>00:05</value>
      </setting>
      <setting name="InativarCurriculoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="BuscaCoordenadasDelayMinutos" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BuscaCoordenadasLimiteRequisicoes" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="IntegrarVagasInicioJanelaExecucao" serializeAs="String">
        <value>14:30</value>
      </setting>
      <setting name="IntegrarVagasDelayMinutos" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BNE_Services_wsPessoaFisicaFoto_wsPessoaFisicaFoto" serializeAs="String">
        <value>http://dev.meusalariohoje.com.br/WebServices/wsPessoaFisicaFoto.asmx</value>
      </setting>
      <setting name="IntegracaoWebfopagDelayMinutos" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="EnvioR1ParaVagasPoucasCandidaturasHoraExecucao" serializeAs="String">
        <value>08:00</value>
      </setting>
      <setting name="EnvioR1ParaVagasPoucasCandidaturasDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="AlertaJornalVagasHoraExecucao" serializeAs="String">
        <value>06:00</value>
      </setting>
      <setting name="AlertaJornalVagasSMTPServer" serializeAs="String">
        <value>smtp.mandrillapp.com</value>
      </setting>
      <setting name="AlertaJornalVagasSMTPPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="AlertaJornalVagasSMTPAccount" serializeAs="String">
        <value>google@bne.com.br</value>
      </setting>
      <setting name="AlertaJornalVagasSMTPPassword" serializeAs="String">
        <value>b4wkj7VqpPjoyAhutn4VVQ</value>
      </setting>
      <setting name="EnvioEmailMailingDelayMinutos" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EnvioEmailMailingSMTPServer" serializeAs="String">
        <value>smtp.mandrillapp.com</value>
      </setting>
      <setting name="EnvioEmailMailingSMTPPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="EnvioEmailMailingSMTPAccount" serializeAs="String">
        <value>google@bne.com.br</value>
      </setting>
      <setting name="UploadFotoErroDelayMinutos" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="BNE_Web_wsTransacao_wsTRANSACAO" serializeAs="String">
        <value>http://wshomglobal.webfopag.com.br/wstransacao.asmx </value>
      </setting>
      <setting name="EnvioEmailMailingSMTPPassword" serializeAs="String">
        <value>b4wkj7VqpPjoyAhutn4VVQ</value>
      </setting>
      <setting name="AlertaJornalVagasDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="DestravaSMSPlanoEmployerHoraExecucao" serializeAs="String">
        <value>08:00</value>
      </setting>
      <setting name="DestravaSMSPlanoEmployerDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="DestravaSMSPlanoEmployerDiaExecucao" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="OperadoraCelularHoraExecucao" serializeAs="String">
        <value>21:00</value>
      </setting>
      <setting name="OperadoraCelularDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="ControleParcelasDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="ControleParcelasHoraExecucao" serializeAs="String">
        <value>01:30</value>
      </setting>
      <setting name="EmailsInvalidosHoraExecucao" serializeAs="String">
        <value>19:00</value>
      </setting>
      <setting name="EmailsInvalidosDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="IntegrarVagasFimJanelaExecucao" serializeAs="String">
        <value>23:59:59</value>
      </setting>
      <setting name="EmailFiliaisHoraExecucao" serializeAs="String">
        <value>08:00</value>
      </setting>
      <setting name="EmailFiliaisDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnviarEmailAlertaExperienciaProfissionalHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="EnviarEmailAlertaExperienciaProfissionalDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnvioSMSEmpresasHoraExecucao" serializeAs="String">
        <value>10:00</value>
      </setting>
      <setting name="EnviarEmailAlertaMensalFilialHoraExecucao" serializeAs="String">
        <value>08:00</value>
      </setting>
      <setting name="ControleParcelasRemetente" serializeAs="String">
        <value>kassiasilveira@bne.com.br</value>
      </setting>
      <setting name="ControleParcelasConsiderarData" serializeAs="String">
        <value />
      </setting>
      <setting name="ControleFinanceiroDelayMinutos" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CartaoCreditoDiasAtraso" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PeriodoListagemCartaoCreditoDiasAtraso" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="EnvioSMSEmailEmpresasCvsNaoVistosHoraExecucao" serializeAs="String">
        <value>13:30</value>
      </setting>
      <setting name="EnviarEmailConfirmacaoCandidaturaHoraExecucao" serializeAs="String">
        <value>18:00</value>
      </setting>
      <setting name="EnviarEmailConfirmacaoCandidaturaDelay" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnvioSMSParceirosLANExecucao" serializeAs="String">
        <value>03:00</value>
      </setting>
      <setting name="EnvioSMSParceirosInicioExecucao" serializeAs="String">
        <value>18:00</value>
      </setting>
      <setting name="EnviarEmailOportunidadeHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="EnviarEmailOportunidadeDelay" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnvioSMSEmailEmpresasCvsNaoVistosDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnviarCampanhaHoraExecucao" serializeAs="String">
        <value>06:00</value>
      </setting>
      <setting name="EnviarCampanhaDelay" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="AtualizarSitemapHoraExecucao" serializeAs="String">
        <value>22:00</value>
      </setting>
      <setting name="EnvioEmailParaSMSNaoRecebidaHoraExecucao" serializeAs="String">
        <value>01:00</value>
      </setting>
      <setting name="EnvioEmailParaSMSNaoRecebidaDelay" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="EnvioBoletoAntesDeVencerPlanoHoraExecucao" serializeAs="String">
        <value>00:30</value>
      </setting>
      <setting name="EnvioBoletoAntesDeVencerPlanoDelay" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="CIACarrinhoAbandonadoHoraExecucao" serializeAs="String">
        <value>01:20</value>
      </setting>
      <setting name="CIACarrinhoAbandonadoDelayMinutos" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="horaExecucaoNotaAntecipada" serializeAs="String">
        <value>23:00</value>
      </setting>
    <setting name="minutoExecucaoNotaAntecipada" serializeAs="String">
      <value>00</value>
    </setting>
    <setting name="diaExecucaoNotaAntecipada" serializeAs="String">
      <value>28</value>
    </setting>
    
    </BNE.Services.Properties.Settings>
    <BNE.BLL.Properties.Settings>
      <setting name="BNE_BLL_wsTRANSACAO_wsTRANSACAO" serializeAs="String">
        <value>http://wshomglobal.webfopag.com.br/wstransacao.asmx </value>
      </setting>
    </BNE.BLL.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <globalization culture="pt-BR" uiCulture="pt-BR" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSMexEndPointTanqueService_IApp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="152428800" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="10000" maxArrayLength="16384" maxBytesPerRead="10000" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IGeocodeService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IGeocodeService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService" contract="BINGGeocodeService.IGeocodeService" name="BasicHttpBinding_IGeocodeService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_IGeocodeService" contract="BINGGeocodeService.IGeocodeService" name="CustomBinding_IGeocodeService" />
      <endpoint address="http://wstg.apprh.com.br/celulardaselecionadora/App.svc/mex" binding="wsHttpBinding" bindingConfiguration="WSMexEndPointTanqueService_IApp" contract="BNETanqueService.IApp" name="WSMexEndPointTanqueService_IApp" />
      <endpoint address="https://wshomglobal.webfopag.com.br/WsIntegracaoFaturamentoFinanceiro.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro" contract="wFat.IWsIntegracaoFaturamentoFinanceiro" name="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BNE.Services.Properties.Settings>
      <setting name="EnviarEmailAlertaMensalFilialDiaExecucao" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SiteMapsUrl" serializeAs="String">
        <value>http://www.bne.com.br</value>
      </setting>
    </BNE.Services.Properties.Settings>
  </userSettings>
</configuration>
