<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Mensagem" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_MENSAGEM;User ID=bnemensagem_app;Password=123;;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_MENSAGEM;User ID=bnemensagem_app;Password=123;;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>