/*------------------------------------------------------------ Theme Azul2*/
$nomeTema:'Azul2';
$LightColor:#2058FF;
$LightColorSt:'#2058FF';

$MediumColor:#1B58E6;

$DarkColor:#1258BD;
$DarkColorSt:'#1258BD';