/*------------------------------------------------------------ Theme Violeta*/
$nomeTema:'Violeta';
$LightColor:#7F19FF;
$LightColorSt:'#7F19FF';

$MediumColor:#6818CE;

$DarkColor:#401578;
$DarkColorSt:'#401578';