/*------------------------------------------------------------ Theme Carmesin*/
$nomeTema:'Carmesin';
$LightColor:#DC143C;
$LightColorSt:'#DC143C';

$MediumColor:#D30F36;

$DarkColor:#B20022;
$DarkColorSt:'#B20022';