<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StoragesConfig" type="BNE.StorageManager.Config.StoragesConfigSection, BNE.StorageManager" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="cdnConfig" type="BNE.Cdn.CdnConfigSection, BNE.Cdn" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <appSettings>
    <add key="KeyPath" value="C:\key.txt"/>
    <add key="StorageUrl" value="https://tor01.objectstorage.softlayer.net"/>
    <add key="Account" value="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8"/>
    <add key="Container" value="Sine_Dev"/>
    <add key="User" value="SLOS390380-2:franciscoribas"/>
    <add key="ApiKey" value="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff"/>
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"></defaultProxy>
  </system.net>
  <cdnConfig>
    <img enable="true" path="https://tor01.objectstorage.softlayer.net/v1/AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8/Sine_Dev_Public"/>
    <css enable="true" path="https://tor01.objectstorage.softlayer.net/v1/AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8/Sine_Dev_Public"/>
    <js enable="true" path="https://tor01.objectstorage.softlayer.net/v1/AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8/Sine_Dev_Public"/>
  </cdnConfig>
  <!--storageType: local ou objectStorage -->
  <StoragesConfig>
    <ObjectStorages>
      <ObjectStorage name="public" 
                     url="https://tor01.objectstorage.softlayer.net" 
                     account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8" 
                     container="Sine_Dev_Public" 
                     user="SLOS390380-2:franciscoribas" 
                     apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff"/>
      <ObjectStorage name="private"
                     url="https://tor01.objectstorage.softlayer.net"
                     account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8" 
                     container="Sine_Dev_Private" 
                     user="SLOS390380-2:franciscoribas" 
                     apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff"/>
      <ObjectStorage name="publicprd"
                     url="https://tor01.objectstorage.softlayer.net"
                     account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8"
                     container="Sine_Prd_Public"
                     user="SLOS390380-2:franciscoribas"
                     apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff" />
      <ObjectStorage name="privateprd"
                     url="https://tor01.objectstorage.softlayer.net"
                     account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8"
                     container="Sine_Prd_Private"
                     user="SLOS390380-2:franciscoribas"
                     apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff" />
    </ObjectStorages>
    <!--<AmazonS3Buckets>
      <Bucket name="public" bucket="trabajebuckethompublic" accessKeyID="AKIAJMSTWYWLDYKFRLPQ" secretAccessKey="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" regionEndpoint="https://s3-us-west-2.amazonaws.com"/>
      <Bucket name="private" bucket="trabajebuckethomprivate" accessKeyID="AKIAJH2HZJFJT47XAEKQ" secretAccessKey="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" regionEndpoint="https://s3-us-west-2.amazonaws.com"/>
    </AmazonS3Buckets>-->
    <AzureStorages>
      <AzureStorage name="public" 
                    container="public" 
                    connectionString="DefaultEndpointsProtocol=https;AccountName=sineprd;AccountKey=g367hexS/baifA5e5OE59+pq+s8qcwMpuGnwz460rLSyiaLJUi1KjC4/pnmfPKLWnof0ITR3MGHOBEZ+FAoikg==;EndpointSuffix=core.windows.net"/>
      <AzureStorage name="private" 
                    container="private" 
                    connectionString="DefaultEndpointsProtocol=https;AccountName=sineprd;AccountKey=g367hexS/baifA5e5OE59+pq+s8qcwMpuGnwz460rLSyiaLJUi1KjC4/pnmfPKLWnof0ITR3MGHOBEZ+FAoikg==;EndpointSuffix=core.windows.net"/>
    </AzureStorages>
    <Folders>
      
     <!-- Migration -->
      <Folder name="SoftlayerPublic">
        <Storages>
          <Storage name="OS" type="ObjectStorage" storageFolder="" storageName="public" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="SoftlayerPrivado">
        <Storages>
          <Storage name="OS" type="ObjectStorage" storageFolder="" storageName="privateprd" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="AzurePublic">
        <Storages>
          <Storage name="AZ" type="AzureStorage" storageFolder="" storageName="public" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="AzurePrivado">
        <Storages>
          <Storage name="AZ" type="AzureStorage" storageFolder="" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
      <!-- END Migration -->

      <Folder name="test">
        <Storages>
          <Storage name="OS" type="ObjectStorage" storageFolder="siteMaps" storageName="privateprd" Enabled="true"/>
          <!--<Storage name="local" type="Local" path="C:\arquivos\private\temp" Enabled="true"/>-->
        </Storages>
      </Folder>
      <Folder name="privateTemp">
        <Storages>
          <!--<Storage name="local" type="Local" path="C:\arquivos\private\temp" Enabled="true"/>
          <Storage name="OS" type="ObjectStorage" storageFolder="temp" storageName="private" Enabled="true"/>
          <Storage name="S3" type="AmazonS3" storageFolder="temp" storageName="private" Enabled="true"/>
          <Storage name="local2" type="Local" path="C:\arquivos\private\temp" Enabled="true" RegexPath="([0-9]{3}).([0-9]{3}).([0-9]{3}).(.*)"/>
          <Storage name="OS2" type="ObjectStorage" storageFolder="temp" storageName="private" Enabled="true" RegexPath="([0-9]{3}).([0-9]{3}).([0-9]{3}).(.*)"/>-->
          <Storage name="AZ" type="AzureStorage" storageFolder="temp" storageName="private" Enabled="true" RegexPath="([0-9]{3}).([0-9]{3}).([0-9]{3}).(.*)"/>
        </Storages>
      </Folder>
      <Folder name="publicTemp">
        <Storages>
          <!--<Storage name="local" type="Local" path="C:\arquivos\public\temp" publicUrl="http://www.sine.com.br" Enabled="true"/>
          <Storage name="OS" type="ObjectStorage" storageFolder="temp" storageName="public" Enabled="true"/>
          <Storage name="S3" type="AmazonS3" storageFolder="temp" storageName="public" Enabled="true"/>
          <Storage name="local2" type="Local" path="C:\arquivos\public\temp" publicUrl="http://www.sine.com.br" Enabled="true" RegexPath="([0-9]{3}).([0-9]{3}).([0-9]{3}).(.*)"/>
          <Storage name="OS2" type="ObjectStorage" storageFolder="temp" storageName="public" Enabled="true" RegexPath="([0-9]{3}).([0-9]{3}).([0-9]{3}).(.*)"/>-->
          <Storage name="AZ" type="AzureStorage" storageFolder="temp" storageName="public" Enabled="true" RegexPath="([0-9]{3}).([0-9]{3}).([0-9]{3}).(.*)"/>
        </Storages>
      </Folder>
    </Folders>

  </StoragesConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
