/*------------------------------------------------------------ Theme Laranja Avermelhado*/
$nomeTema:'LaranjaAverm';
$LightColor:#FF450D;
$LightColorSt:'#FF450D';

$MediumColor:#EA3D0D;

$DarkColor:#A8250F;
$DarkColorSt:'#A8250F';