<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BNE.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="BNE.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
     -->
    <connectionStrings>
        <!--<add name="CONN_BNE"
          connectionString="Data Source=BNE-BD\SQL2008R2;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="plataforma"
           connectionString="Data Source=empvw0085\SQL2008R2;Initial Catalog=WIF_HML;User ID=login_app;Password=123;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="CONN_SISTMARS"
           connectionString="Data Source=BNE-BD\sql2005;Initial Catalog=sistmars_dev;User ID=sistmars_dev;Password=123; Connect Timeout=120"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="QueryLog"
           connectionString="Data Source=BNE-BD\SQL2008R2;Initial Catalog=PLATAFORMA_LOG_ERRO_HOMOLOG;User ID=auditoria_app;Password=123;Application Name=BNE;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BNE-BD\SQL2008R2;Initial Catalog=PLATAFORMA_LOG_ERRO_HOMOLOG;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
    </connectionStrings>
    <appSettings>
        <add key="urlSite" value="http://teste.bne.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="diretorioAplicacao" value="E:\sites\teste.bne.com.br\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    </appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<httpModules>
		</httpModules>
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <httpCookies domain="bne.com.br" xdt:Transform="Insert"/>
  </system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
	<applicationSettings>
		<BNE.BLL.Properties.Settings>
			<setting name="BNE_BLL_wsTRANSACAO_wsTRANSACAO" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>http://wshomglobal.webfopag.com.br/wstransacao.asmx</value>
			</setting>
			<setting name="BNE_BLL_WSCep_cepws" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>http://wsTestegeral.webfopag.com.br/cepws.asmx</value>
			</setting>
		</BNE.BLL.Properties.Settings>
		<BNE.Web.Properties.Settings>
			<setting name="BNE_Web_wsCEP_cepws"
					 serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)" >
				<value>http://wstestegeral.webfopag.com.br/cepws.asmx</value>
			</setting>
			<setting name="BNE_Web_wsAutenticacaoSOSRH_wsAutenticacao" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>http://teste.sosrh.com.br/webservices/wsAutenticacao.asmx</value>
			</setting>
			<setting name="BNE_Web_wsPessoaFisicaFoto_wsPessoaFisicaFoto"
			  serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>http://teste.meusalariohoje.com.br/WebServices/wsPessoaFisicaFoto.asmx</value>
			</setting>
			<setting name="PessoaFisicaFotoChave" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>0c088ab7-ae45-40a6-9736-cf344d801aa4</value>
			</setting>
			<setting name="PessoaFisicaFoto" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>http://teste.meusalariohoje.com.br/webservices/PessoaFisicaFoto.ashx?cpf=</value>
			</setting>
			<setting name="BNE_Web_wsTransacao_wsTRANSACAO" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>http://wshomglobal.webfopag.com.br/wstransacao.asmx</value>
			</setting>
			<setting name="BNE_Web_WSPessoaJuridica_WSPessoaJuridica" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>http://wstestegeral.webfopag.com.br/WSPessoaJuridica.asmx</value>
			</setting>
		</BNE.Web.Properties.Settings>
	</applicationSettings>
</configuration>