/*------------------------------------------------------------ Theme Bege*/
$nomeTema:'Bege';
$LightColor:#FFFC9E;
$LightColorSt:'#FFFC9E';

$MediumColor:#E6E395;

$DarkColor:#B5B382;
$DarkColorSt:'#B5B382';