<div style="text-align:center; width:100%;height:160px">
    <input type="checkbox" id="modal_vaga_rapida" checked />
    <div class="modal">
        <div class="modal-content">
            <div id="modal-content-header">
                <h6 class="lighter mediumcolor">Você está com perfil visitante.</h6>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"> </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label md-input-bne">
                Para segurança conclua o cadastro da sua empresa e tenha acesso à mais de 11 milhões de currículos.
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"> </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label md-input-bne top-12">
                O profissional que você precisa está aqui. Aproveite para contactá-lo agora mesmo.
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        </div>
        <label class="modal-close" for="modal_vaga_rapida"></label>
    </div>
</div>