<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BufferLogConfig" type="Employer.PlataformaLog.Conf.BufferLogConfig, Employer.PlataformaLog" />
  </configSections>
  <BufferLogConfig Tamanho="5" Timeout="00:00:10" />
  <appSettings>
    <add key="GravaLogAuditoria" value="False" />
    <add key="PathToMapperDLL" value="C:\tfs\tfs.employer.com.br\BNE\src\BNE-New\BNE.Mapper.ToNew\bin\Release" />
  </appSettings>
  <connectionStrings>
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPHW0114209\PRD;Initial Catalog=BNE2_LOGERRO_PRD;Persist Security Info=True;User ID=bne2_app;Password=bN32o&amp;App#;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PessoaJuridica" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE2_PRD;User ID=bne2_app;Password=bN32o&amp;App#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo;Connect Timeout=240000; " />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
