/*------------------------------------------------------------ Theme Turquesa*/
$nomeTema:'Turquesa';
$LightColor:#49737F;
$LightColorSt:'#49737F';

$MediumColor:#436A75;

$DarkColor:#243940;
$DarkColorSt:'#243940';