<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CrossDomainEventsSettings" type="SharedKernel.DomainEvents.CrossDomainEvents.Configuration.CrossDomainEventsSettings, SharedKernel.DomainEvents.CrossDomainEvents" />
  </configSections>
  <CrossDomainEventsSettings host="rabbitmq.bne.com.br" user="bne" password="bn3@2016" />
  <connectionStrings>
    <add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_DW_CV_PRODUCAO;User ID=bne_imp;Password=w3bBn3N0vo;Application Name=BNE.Console.Domain.Events;Connect Timeout=240000;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.900" newVersion="2.2.4.900" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>