@model BNE.Web.LanHouse.Models.ModelFilialNaoExisteCidade
<!DOCTYPE html>

<html>
<head>
    <title>BNE LAN House</title>
</head>
<body>
    <div style="margin: 10px 30%; padding: 45px; border: 1px solid magenta; border-radius: 8px; background-color: darkmagenta; color: snow; font-size: larger">
        A LAN House informada, @Model.Diretorio, não possui cidade cadastrada! Favor entrar em contato no 0800-41-2400
    </div>
</body>
</html>