<!DOCTYPE html>

<html>
<head>
    <title>BNE LAN House</title>
</head>
<body>
    <div style="margin: 10px 30%; padding: 45px; border: 1px solid magenta; border-radius: 8px; background-color: darkmagenta; color: snow; font-size: larger">
        <p>Você perdeu a sessão no site.</p><p>Isso ocorre porque o site ficou aberto por muito tempo sem atividade.</p><p>Favor entrar novamente na home page da sua LAN House!</p> 
    </div>
</body>
</html>
