/*------------------------------------------------------------ Theme Cinza Médio*/
$nomeTema:'CinzaMedio';
$LightColor:#c4c4c4;
$LightColorSt:'#c4c4c4';

$MediumColor:#B5B5B5;

$DarkColor:#858686;
$DarkColorSt:'#858686';