/*------------------------------------------------------------ Theme Vermelho2*/
$nomeTema:'Vermelho2';
$LightColor:#FF0100;
$LightColorSt:'#FF0100';

$MediumColor:#F60100;

$DarkColor:#A80000;
$DarkColorSt:'#A80000';