/*------------------------------------------------------------ Theme Violeta*/
$nomeTema:'Bourbon';
$LightColor:#004D43 ;
$LightColorSt:'#004D43';

$MediumColor:#004D43 ;

$DarkColor:#004D43 ;
$DarkColorSt:'#004D43 ';