@import "_mixing.scss";


.field-cnpj-cad-emp {
    text-align: center;
}

p.subt_cad {
    font-family: 'Arial',sans-serif;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

p.text_conclu {
    font-family: 'Arial',sans-serif;
    color: #666;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

p.text_conclu-sub {
    font-family: 'Arial',sans-serif;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

p.text_conclu-down {
    position: relative;
    font-family: 'Arial',sans-serif;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 4;
    padding-bottom: 40px;
}

.mdl-progress {
    width: 100%;
}

.btn_continuar {
    @extend %btn_empresa;
    font-size: 14px !important;
    font-family: arial, sans-serif;
    padding: 8px 40px 10px 40px !important;
    height: 48px !important;

    &:hover {
        background: #5c7a28 !important;
    }
}

.btn_pronto {
    height: 36px !important;
}

p.txt_caract {
    font-size: 12px;
    text-align: center;
}

input.captcha {
    margin-top: -25px;
    padding: 2px 0;
}

.mdl-button--accent.mdl-button--accent .mdl-ripple {
    background: #fff !important;
}

.borda_captcha {
    border: 1px solid #e9e9e7;
}

.btn_add_user {
    margin-top: 20px;
    background: #999999 !important;
    font-size: 14px !important;
    font-family: arial, sans-serif;
    padding: 8px 20px 10px 20px !important;
    height: 48px !important;
    color: #fff !important;
    font-weight: 600;

    &:hover {
        background: #7e7e7e !important;
    }
}

.user_add {
    position: relative;
    color: #fff;
}

.mg-top {
    margin-top: 20px;
    position: relative;
}

.content-add-user {
    @extend %clearfix;
    @include linear-gradient(#f1f1f1, #f2f2f2);
    @include border-radius(4px);
    border: 1px solid #e8e8e8;
    border-bottom: 3px solid #dcdcdc;
    position: relative;
    float: left;
    padding: 10px 0 10px 90px;
    margin-bottom: 20px;

    .box {
        margin: 0;
        padding: 0;
    }

    .mdl-textfield {
        padding-top: 0;
    }
}

i.icons_dados-resp {
    float: left;
    color: #72992F;
    margin: 4px 4px 0px 0px;
    font-size: 28px;
}

.borda-input-add-user {
    border: 1px solid #e2e2e2;
    border-bottom: 2px solid #dcdcdc;
    width: 100%;
    height: 42px;
    padding: 0px 0px 4px 0px;
    text-align: center;
    @include border-radius(4px);
    background: #fff;
}

.btn_add_new_user {
    top: 8px;
}

.button-remove-user {
    top: 8px;
    padding: 7px 0px 38px 0px;
    position: relative;
    font-size: 14px;
    @extend %btn_acao_error;
    color: #fff !important;

    &:hover {
        background: #c0392f !important;
    }
}

.checkbox_gender {
    margin: -15px 0px 0px 15%;
}

span.mdl-checkbox__label {
    font-weight: 600;
    color: #bfbfbf;
    font-size: 16px;
}

.mdl-checkbox .mdl-js-checkbox .is-checked {
    background: red !important;
}

/* Novo */

/* Progress Tracker Empresa*/
.md-progtrckr-emp {
    margin-bottom: -10px !important;
    margin-top: 20px !important;
}

.md-progtrckr-emp ol {
    width: 95%;
    margin: auto;
}

ol.progtrckr-emp {
    display: table;
    list-style-type: none;
}

ol.progtrckr-emp li {
    display: table-cell;
    text-align: center;
}

ol.progtrckr-emp li.progtrckr-done {
    color: #666666;
    border-top: 4px solid #72992f !important;
}

ol.progtrckr-emp li.progtrckr-todo {
    color: #666666;
    border-top: 4px solid silver;
}

ol.progtrckr-emp li:after {
    content: "\00a0\00a0";
}

ol.progtrckr-emp li:before {
    position: relative;
    float: left;
    left: 100%;
}

ol.progtrckr-emp li.progtrckr-done:before {
    bottom: 12px;
    content: "\039F";
    color: transparent;
    background-color: #72992f;
    height: 0.6em;
    width: 0.6em;
    line-height: 16px;
    border: 5px solid #fff;
    @include border-radius(1.2em);
    @include box-shadow(2px 2px 4px 0px rgba(0, 0, 0, 0.35));
}

ol.progtrckr-emp li.progtrckr-todo:before {
    bottom: 12px;
    content: "\039F";
    color: transparent;
    background-color: silver;
    height: 0.6em;
    width: 0.6em;
    line-height: 1.0em;
    border: 5px solid #fff;
    @include border-radius(1.2em);
    @include box-shadow(2px 2px 4px 0px rgba(0, 0, 0, 0.35));
}
