<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNE_WEB" />-->
    <!--<add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNE_WEB" />
    <add name="PessoaJuridica" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE2_PRD;User ID=bne2_app;Password=bN32o&amp;App#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="plataforma" connectionString="Data Source=Empvw5205\PRDST;Initial Catalog=WIF_PRD2;User ID=login_app;Password=W38f0p@6;Application Name=BNE_WEB" />
    <add name="CONN_NOTIFICACAO" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_Notificacao_PRD;User ID=bne_imp;Password=w3bBn3N0vo;Application Name=BNE_WEB" />
    <add name="CONN_SISTMARS" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=sistmars;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNE_WEB" />
    <add name="QueryLog" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=PLATAFORMA_LOGERRO_PRD;User ID=auditoria_app;Password=123;Application Name=BNE_WEB" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPHW0114209\PRD;Initial Catalog=PLATAFORMA_LOGERRO_PRD;Persist Security Info=True;User ID=logerro_app;Password=l0g3rr0pr0d@2013;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ValidaCelular" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo;" providerName="System.Data.SqlClient" />
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=ATIVIDADE_PRD;User ID=atividade_app;Password=@t1vidAd3; Connect Timeout=120000;Application Name=BNE_WEB" />-->
   
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=ATIVIDADE_PRD;User ID=bne_app;Password=123; Connect Timeout=240000; " />
    <add name="PessoaJuridica" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM_NEW;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CONN_CEP" connectionString="Data Source=empvw0150\HOM2012;Initial Catalog=CEP_BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; " />
    
    <add name="CONN_BNE" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; " />
    <add name="plataforma" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=WIF_NOVAFOLHA_TESTE_HOM;User ID=login_app;Password=123;" />
    <add name="CONN_NOTIFICACAO" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_Notificacao_HOM;User ID=bne_app;Password=123;" />
    
    <!--<add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNE_WEB" />
    <add name="plataforma" connectionString="Data Source=Empvw5205\PRDST;Initial Catalog=WIF_PRD2;User ID=login_app;Password=W38f0p@6;Application Name=BNE_WEB" />
    <add name="CONN_NOTIFICACAO" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_Notificacao_PRD;User ID=bne_imp;Password=w3bBn3N0vo;Application Name=BNE_WEB" />-->
   
  </connectionStrings>
  <appSettings>
    <add key="ApiCampanhaTanque" value="http://api.campanha.apprh.com.br/" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://wspg.apprh.com.br/celulardaselecionadora/App.svc/mex" binding="wsHttpBinding" bindingConfiguration="WSMexEndPointTanqueService_IApp" contract="BNETanqueService.IApp" name="WSMexEndPointTanqueService_IApp" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSMexEndPointTanqueService_IApp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="152428800" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="10000" maxArrayLength="16384" maxBytesPerRead="10000" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>

      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
