h4.text_hello {
	font-size: 28px !important;
	color: #666666;
	text-align: center;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: auto;
  background: #2b64b2;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

h2.nome_vaga {
	margin-top: 0px;
	width: 100%;
	line-height: 1;
	font-size: 1.9em;
	position: absolute;
	text-transform: uppercase;
	font-weight: bold;
}

p.sal_vaga_txt {
	clear: both;
	position: relative;
	margin-top: 33px;
	font-size: 16px;
}

p.txt_atri {
	font-size: 18px;
	font-weight: bold;
	font-family: "Arial",sans-serif;
	margin-left: 4%;
}

p.dados_atribuicoes {
	font-size: 16px;
	text-align: justify;
	font-family: "Arial",sans-serif;
	margin-left: 4%;
}

p.codi_vaga { 
	float: left;
	font-family: "Arial",sans-serif; 
	margin-left: 3%;
}

p.data_anuncio { 
	float: right;
	font-family: "Arial",sans-serif; 
}


strong.codigo_vaga {
	color: #2b64b2;
}

p.local_vaga { 
	border-top: 1px solid #f2f2f2;
	padding-top: 10px;
	margin-left: 1%;
	font-family: "Arial",sans-serif; 
	color: #999999;
	font-size: 12px;
	line-height: 1.5;
}

div.bg_login {
	background: #eaeaea;
	
}



h6.text_hello {
	font-size: 22px !important;
	color: #666666;
	text-align: center;
}

.fl_lef_input {
	float: left;
	height: 50px;
}

.mdl-textfield__input {
	width: 100% !important;
}

.bordar_pt_cad {
	background: #fff;
	    border: 1px solid #e9e9e7;
    border-bottom: 2px solid #d1d1d1;
    
    height: 42px;
    padding: 0px 0px 4px 0px;
    text-align: center;
}

.mdl-textfield__input { border: 0px !important;}

p.txt_tem {
	font-size: 14px;
	font-weight: bold;
	font-family: "Arial",sans-serif;
	margin-top: 12px;
	color: #a9a9a9;
}

p.txt_media_sal {
	font-size: 16px;
	font-family: "Arial",sans-serif;
	margin-top: 0;
    font-size: 13px;
	color: #a9a9a9;
    
}

.btn_avancar_cad {
    @extend %btn_candidato;
    font-size: 14px !important;
    font-family: arial, sans-serif;
    padding: 8px 70px 10px 70px !important;
   bottom: 15px;
    height: 48px !important;

    &:hover {
        background: #295ca2 !important;
    }
}

.mdl-textfield__label:after {
    background: #fff !important;
}

.mdl-textfield__input {
    border: 0px !important;
}

label.mdl-textfield__label {
	 font-family: arial, sans-serif;
	 font-weight: 600;
	 font-size: 15px;
}

h6.possui_conta {
	font-size: 22px !important;
	color: #666666;
	font-weight: bold;
	text-align: center;
}

strong.link_curriculo {
	font-weight: 400;
	color: #2b64b2;
	font-style:italic;
}

h6.text_acesso_social {
	font-size: 16px !important;
	color: #666666;
	
	text-align: center;
}

.fl_lef_text {
	float: left;
	height: 10px;
}

div.facebook {
	background: #004c98;
	width: 100%;
	font-weight: bold;
	top: 20px;
	text-align: center !important;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	
	&:hover {
		background: #004385;
	}	
}

div.linkedin {
	background: #006699;
	width: 100%;
	font-weight: bold;
	text-align: center !important;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;

	&:hover {
		background: #00537c;
	}
}

span.text_rede_social {
	position: relative;
	top: 12px;
	color: #fff;
	font-size: 20px;

}

.margin-top-footer {
	margin-top: 20px;
}

.icons_rede_sociais { 
	width: 18px;
	margin: 18px 8px 0px 0px;
}

.fazer_cadastro {
	background: red;
}

.btn_candidatar {
    @extend %btn_candidato;
    font-size: 14px !important;
    font-family: arial, sans-serif;
    padding: 8px 70px 10px 70px !important;
   bottom: 15px;
    height: 48px !important;
    margin: 10px 0px 0px 60px;

    &:hover {
        background: #295ca2 !important;
    }
}

.teste { background: red;}

.mdl-textfield__input {
  width: 101% !important;
  padding-top: 26px !important;
  border-bottom: 0px solid !important;
  margin-top: -21px !important;
  height: 17px !important;
  
  margin-left: -8px !important;
  padding-left: 10px !important;
}



p.vg_auditada {
    float: right;
    width: 98px;
    padding: 8px 15px 8px 15px;
    margin: -55px 50px -120px 0px;
        color: rgba(0,0,0,.54);
    
}

p.emp_vaga_txt {
  clear: both;
  float: left;
  margin-left: -375px;
  position: relative;
  top: 42px;
  font-size: 16px;
  
}

label.error:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffab40;
    border-left: 10px solid transparent;
    margin: -24px 0 0 -24px;
}

label.error {
    position: relative;
    float: right;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 11px;
    background: #ffab40;
    top: 4px;
    padding: 5px 5px 5px 5px;
    line-height: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

