$primarycolor:#2b64b2;
$oportunidadecolor:#26a69a;
$accentcolor:#0d47a1;
$ultradarkcolor:darken($primarycolor, 25%);
$darkcolor:darken($primarycolor, 5%);
$mediumcolor:$primarycolor;
$lightcolor:lighten($primarycolor, 20%);
$ultralightcolor:lighten($primarycolor, 35%);
$ultralightercolor:lighten($primarycolor, 50%);