/*------------------------------------------------------------ Theme Aquamarinho*/
$nomeTema:'Aquamarinho';
$LightColor:#2BDFFF;
$LightColorSt:'#2BDFFF';

$MediumColor:#2EC9E5;

$DarkColor:#33A2B5;
$DarkColorSt:'#33A2B5';