/*------------------------------------------------------------ Theme Bharal*/
$nomeTema:'Bharal';
$LightColor:#B9BF98;
$LightColorSt:'#B9BF98';

$MediumColor:#AEB48F;

$DarkColor:#7B7F65;
$DarkColorSt:'#7B7F65';