/*------------------------------------------------------------ Theme Ouro*/
$nomeTema:'Ouro';
$LightColor:#FFE605;
$LightColorSt:'#FFE605';

$MediumColor:#FAD30C;

$DarkColor:#EB9125;
$DarkColorSt:'#EB9125';