/*------------------------------------------------------------ Theme Castanho*/
$nomeTema:'Castanho';
$LightColor:#B24D48;
$LightColorSt:'#B24D48';

$MediumColor:#8C3735;

$DarkColor:#611E20;
$DarkColorSt:'#611E20';