@model IEnumerable<BNE.Web.Vagas.Models.Vaga>

@if (Model != null)
{
    <div class="vagas">
        @foreach (var vaga in Model)
        {
            Html.RenderPartial("_Vaga", vaga);
        }
    </div>
}