<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AppId" value="38" />
    <add key="GravaLogAuditoria" value="False" />
  </appSettings>
  <connectionStrings>
    <add name="CONN_BNE" connectionString="Data Source=empvw0085\dev2012;Initial Catalog=BNE_DEV;User ID=bne_app;Password=123;" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPLOYER-DEVBD\sql2008;Initial Catalog=PLATAFORMA_LOG_ERRO;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="true" />
      </webServices>
    </scripting>
  </system.web.extensions>   
  <system.serviceModel>
    <services>
      <service name="BNE.Web.Services.Integracao.Vagas.BNE" behaviorConfiguration="AuthenticationServiceTypeBehaviors">
             
        <!-- Configuração Endpoint -->
        <endpoint binding="webHttpBinding" bindingConfiguration="webHttpsBinding" behaviorConfiguration="json" contract="BNE.Web.Services.Integracao.Vagas.IBNE" address="" />
      </service>
    </services>
    <!-- Configuração Binding -->
    <bindings>
      <webHttpBinding>
        <binding name="webHttpsBinding" maxReceivedMessageSize="524288000" receiveTimeout="00:10:00" sendTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <!-- 
               maxReceivedMessageSize: Obtém ou define o tamanho máximo, em bytes, para uma mensagem que pode ser recebido em um canal configurado com essa ligação.
               receiveTimeout: Obtém ou define o intervalo de tempo que uma conexão pode permanecer inativa, durante o quais não há mensagens de aplicativo são recebidas, antes de ser descartado.
               sendTimeout: Define o intervalo de tempo fornecido para uma operação de envio para ser concluído.
               openTimeout: Obtém ou define o intervalo de tempo fornecido para uma conexão abrir antes do transporte gera uma exceção.
               closeTimeout: Obtém ou define o intervalo de tempo fornecido para uma conexão de fechar antes do transporte gera uma exceção. 
               messageEncoding: Obtém ou define a codificação de caracteres que é usado para o texto da mensagem.
           -->
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- Configuração do Client -->
    <client>
      <endpoint binding="webHttpBinding" behaviorConfiguration="json" contract="BNE.Web.Services.Integracao.Vagas.IBNE" address="" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AuthenticationServiceTypeBehaviors">
          <serviceMetadata httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>