.conteudo .interna { margin: 20px auto; }
.conteudo .internaSlim { margin-top: 20px !important; }
.abasVertical ul li { list-style: none; }
.painel_minha_informacao { position: absolute; right: 170px; padding: 10px; border: 1px solid #d3ecf9; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; display: none; }
.nome_usuario_ss { float: left; margin-top: 10px; }
.nome_destaque { border-bottom: 1px solid #D9E0E9; color: #476D11; font-size: 14px; height: auto; margin: 0; overflow: hidden; padding-bottom: 18px; }
.menu_ss { padding: 25px 0 10px 0; overflow: hidden; }
.logo_empresa { margin-top: 0px; float: right; width: auto !important; height: 38px !important; }
    .logo_empresa img { height: 38px; }
.col01 { width: 257px; margin: 0 10px 0 10px; float: left; }
.col02 { width: 257px; margin: 0 10px 0 10px; float: left; }
.col03 { width: 270px; margin: 0 5px 0 10px; float: left; }
.btn_col { width: 268px; height: 100px; margin-bottom: 20px; cursor: pointer; }
.bottom { margin-bottom: 0; cursor: pointer; }
.titulo_texto_btn { float: left; height: 80px; margin: 10px 0 10px 0; width: 170px; }
.menor { width: 160px; }
.fundo_btn_ss { width: 268px; height: 100px;  }
.sombra_btn_ss { overflow: hidden;  }
    .sombra_btn_ss img { float: left; margin: 20px 15px 10px 15px; border: none; }
.sombra_btn_ss_g { overflow: hidden;  }
    .sombra_btn_ss_g img { float: left; margin: 20px 15px; border: none; }
.texto_btn_ss { margin: 0; }
.tit_btn_ss { font-size: 20px; font-weight: bold; color: #476d11; margin-top: 10px; }
.item_btn { font-size: 11px; font-weight: bold; color: #555555; line-height: normal !important; margin: 0; padding: 0; }
    .item_btn li { list-style-type: none; margin: 0; padding: 0; }
li b { color: #476D11; }
.painel_padrao_sala_selecionador { background-position: left bottom; background-repeat: no-repeat; background-color: #fff; padding: 20px; margin: 0; overflow: auto; }
    .painel_padrao_sala_selecionador p { margin: 0 0 10px 0; }
.painel_padrao_topo_sala_selecionador { background-image: url('/img/barra_painel_topo_sala_vip.png'); background-repeat: no-repeat; background-position: left top; padding: 0 0 4px; display: none; }
.painel_padrao_sala_selecionador_customizado { display: table; width: 100%; background: white; height: 290px\9; }
.btn_sala_vip_normal:link { display: block; padding-top: 7px !important; }
.btn_sala_vip_normal:hover { background-image: url("/img/btn_sala_vip_hover.png") !important; background-position: right top !important; background-repeat: no-repeat !important; color: #2f60a1 !important; font-weight: bold !important; padding: 5px; }
.btn_sala_vip_selecionado { background-image: url("/img/btn_sala_vip_selecionado.png") !important; color: #fff !important; display: block; padding-top: 7px !important; height: 27px; width: 150px; }
.painel_conteudo_sala_selecionador { margin-top: 15px; }
.uctabs_sala_selecionador { margin: 0 auto; width: 700px; }
.RadGrid_Office2007 .rgHeader:first-child, .RadGrid_Office2007 th.rgResizeCol:first-child, .RadGrid_Office2007 .rgFilterRow > td:first-child, .RadGrid_Office2007 .rgRow > td:first-child, .RadGrid_Office2007 .rgAltRow > td:first-child { width: 100px; }
.RadGrid_Office2007 .rgHeader, .RadGrid_Office2007 th.rgResizeCol { width: 120px; }
.excluir { margin-left: 2px !important; margin-right: 2px !important; text-align: center; width: 4% !important; }
.melhor_resposta { margin-left: 2px !important; margin-right: 2px !important; width: 15% !important; }
.rgHeader.candidato_codigo { width: 100px; }
.rgHeader.mensagem { width: 100px; }
.rgHeader.forma_envio { width: 90px; }
.linha span { color: #1E3260; }
.RadGrid_Office2007, .RadGrid_Office2007 .rgMasterTable, .RadGrid_Office2007 .rgDetailTable, .RadGrid_Office2007 .rgGroupPanel table, .RadGrid_Office2007 .rgCommandRow table, .RadGrid_Office2007 .rgEditForm table, .RadGrid_Office2007 .rgPager table, .GridToolTip_Office2007 { font-family: Arial, Helvetica, sans-serif !important; font-size: 12px; }
    .RadGrid_Office2007 .rgRow a, .RadGrid_Office2007 .rgAltRow a, .RadGrid_Office2007 .rgEditRow a, .RadGrid_Office2007 .rgFooter a, .RadGrid_Office2007 .rgEditForm a { color: #1E3260; }
    .RadGrid_Office2007 .rgHeader, .RadGrid_Office2007 .rgHeader a { color: #1E3260; }
.tabela_arvore { width: 100%; border-left: 1px solid #D3ECF9; border-top: 1px solid #D3ECF9; border-right: 1px solid #D3ECF9; }
    .tabela_arvore .icone_mais { width: 15px; }
    .tabela_arvore .checkbox { width: 20px; }
    .tabela_arvore .descricao_funcao { font-weight: bold; padding-left: 3px; }
    .tabela_arvore .informacao_vaga { background-color: #D3ECF9; color: #1E3260; }
.painel_aviso_selecionador { background-color: #E4F0F6; border: 1px solid #fff; padding-bottom: 6px; padding-left: 5px; padding-top: 5px; width: 380px; display: inline-block; }
.painel_pesquisa_rastreador_esquerda .label_principal,
.painel_pesquisa_rastreador_direita .label_principal { width: 70px !important; }
.linha.imagem_bairro div div { display: inline !important; vertical-align: top; }
.label_principal.modal { width: 140px !important; }
.label_principal.bold { font-weight: bold; }
.painel_pesquisa_rastreador { border: 1px solid #d3ecf9; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; margin: 0 auto; width: 700px; }
.painel_pesquisa_rastreador_esquerda { float: left; margin-right: 20px; }
.painel_pesquisa_rastreador_direita { display: inline-block; }
.container_campo span { display: inline-block; }
.campo_pesquisa_salarial { width: 151px; }
.painel_destaque_padrao.presidente { padding-top: 0; padding-bottom: 0; width: 100%; }
.painel_destaque_padrao.plano_venda { margin-top: 0; padding-left: 34%; width: 581px; }
.container_campo.mensagem span { width: 340px; }
.titulo_ligue_bne { position: absolute; bottom: 1px; }
.alinhar_painel_destaque_padrao.presidente { vertical-align: top; }
.texto_doutor_pessoa_fisica { margin: 0 auto; text-align: justify; width: 540px; margin-right: 15px; }
.texto_doutor_pessoa_juridica { margin: 0 auto; text-align: justify; width: 540px; margin-right: 15px; }
.alinhar_rodape { width: 710px; }
.radio_alinhar label { float: none; }
.painel_botoes.plano_venda { margin-top: 0; margin-bottom: -15px; }
.centro_modal_sala_selecionadora_plano_venda { display: block; text-align: center; margin-top: 20px; margin-bottom: 5px; }
.titulo_modal_plano_venda { margin-top: 2px; }
.painel_modal_plano_venda { border: 1px solid #d3ecf9; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; width: 860px; margin: 0 auto; margin-bottom: 5px; }
.img_cartoes { text-align: center; margin-top: 30px; height: 120px; }
.painel_quantidade_cv { margin-top: 10px; margin-bottom: 5px; }
.campanha_carnaval_formaPagamento { margin-left: 0px; margin-top: 0px; width: 100%; }
    .campanha_carnaval_formaPagamento .label { font-family: Arial, Helvetica, sans-serif !important; color: #5e5e5e; font-size: 1.5em; font-weight: bold; }
.alinha_campanha { margin-top: 30px; }
.alinha_1 { margin-left: -340px; margin-top: 3px; }
    .alinha_1 .radiobutton_padrao label, .alinha_2 .radiobutton_padrao label { cursor: pointer; }
.alinha_2 { margin-left: 390px; margin-top: -16px; }
.espacamento { width: 500px; }
.jumbotron { padding: 30px; margin-bottom: 30px; font-size: 17px; font-weight: 200; line-height: 1.1; color: inherit; background-color: #eee; }
.alert { padding: 8px 35px 8px 14px; margin-bottom: 18px; color: #c09853; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-top: 20px; }
.alert-danger,
.alert-error { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.fundo_btn_ss { border: 2px solid #eee; background-image: none; border-radius: 10px; box-shadow: 1px 1px 10px #ccc; }
.fundo_btn_ss-adjust { border: 2px solid #1e6eb9; background-image: none; border-radius: 10px; box-shadow: 1px 1px 10px #ccc; }
.fundo_btn_ss:hover { border: 2px solid #ccc; box-shadow: 1px 1px 10px #aaa; }
.sombra_btn_ss { background-image: none; }
    .sombra_btn_ss:hover { background: none; }
    .sombra_btn_ss img { margin-top: 25px !important; }
.fundo_btn_ss i { margin: 10px 0 0 10px; }
.red { color: #f00; }
