/*------------------------------------------------------------ Theme Verde Azulado*/
$nomeTema:'VerdeAzulado';
$LightColor:#00FFE5;
$LightColorSt:'#00FFE5';

$MediumColor:#00E2CB;

$DarkColor:#00BDA9;
$DarkColorSt:'#00BDA9';