/*------------------------------------------------------------ Theme Azul Celeste*/
$nomeTema:'AzulCeleste';
$LightColor:#68C3FF;
$LightColorSt:'#68C3FF';

$MediumColor:#64BAEE;

$DarkColor:#589FBD;
$DarkColorSt:'#589FBD';