
@model BNE.PessoaFisica.Web.Models.Curriculo

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet center">
        <h4><strong class="darkgrey">Suas candidaturas grátis acabaram!</strong></h4>
        <h4><strong class="darkgrey">Conheça o <b>VIP</b> e candidate-se a todas as vagas e oportunidades!</strong></h4>
            <p>
                <strong class="darkgrey">
                    <a href="http://www.bne.com.br/vip">
                        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary mdl-button--raised btnformxbig ">Seja VIP</button>
                    </a>
                </strong>
            </p>
    </div>
</div>