body
{
    background-color: #fff;
    /*background-color: #fcf9e6;*/
    background-image: url("/img/App_Themes/Cargo/bg_fundo_conteudo.gif");
    background-position: 0 50px;
}

.rodape_centralizado {
    padding: 36px 0;
}

.final_rodape div
{
    margin: 0 auto;
    text-align: right;
    width: 883px;    
}