/*------------------------------------------------------------ Theme Esmeralda*/
$nomeTema:'Esmeralda';
$LightColor:#62ACAD;
$LightColorSt:'#62ACAD';

$MediumColor:#559697;

$DarkColor:#243F40;
$DarkColorSt:'#243F40';