/*------------------------------------------------------------ Theme Carmin*/
$nomeTema:'Carmin';
$LightColor:#B24A57;
$LightColorSt:'#B24A57';

$MediumColor:#A93343;

$DarkColor:#960018;
$DarkColorSt:'#960018';