@model BNE.PessoaFisica.Web.Models.ConfirmarEmail

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BNE - Banco Nacional do Emprego</title>
</head>
<body>
    <div>
        <h1>E-mail confirmado com sucesso!</h1>
    </div>
</body>
</html>
