<div class="container">
<div class="col-lg-12">
    <a class="btn btn-link btn-chat" href="" onclick="alochat = window.open('http://cloud.aloweb.com.br/website/?cl=49939200&dp=266457600&site=34560000', 'alo49939200', 'scrollbars=no ,width=522, height=533 , top=50 , left=50');"><span class="h4">Fale Conosco: </span></a>
<span class="icon icon-whatsapp-1"></span><span class="fontWhats"> WhatsApp</span> <span class="fontThin">ou</span>
<span class="icon icon-mobile"></span>SMS <span><small class="fontThin">(41)</small></span> <span class="h4">9635-7299</span>
<span class="fontThin">|</span>
    <a class="btn btn-link btn-chat" href="" onclick="alochat = window.open('http://cloud.aloweb.com.br/website/?cl=49939200&dp=266457600&site=34560000', 'alo49939200', 'scrollbars=no ,width=522, height=533 , top=50 , left=50');"><span class="icon icon-chat-bubble-two"></span><span class="fontThin"> Chat</span>BNE</a>
    <a href="http://www.azulzinho.com.br"><span class="logoAzulzinho" alt="Jornal Azulzinho"></span></a>
</div>
</div> 