/*------------------------------------------------------------ Theme Jade*/
$nomeTema:'Jade';
$LightColor:#87d6c0;
$LightColorSt:'#87d6c0';

$MediumColor:#70D2B6;

$DarkColor:#0BBF8D;
$DarkColorSt:'#0BBF8D';