
.coluna_esquerda
{
    background-color: #eaf1fd;
    float: left;
    height: 256px;
    width: 144px;
    margin-right:0;
}

.coluna_direita
{
    background-image: url("/img/bg_callout_painel_esquerda.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    margin-top: 6px;
    padding-left: 14px;
    width: 400px;
}

