/*local para não precisar importar a classe inteira somente por causa das tagas do breadcrumb, classe de origem:  css/local/Bootstrap/bootstrap.css*/
.breadcrumb {
    position: relative;
    padding: 12px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .breadcrumb li {
        display: inline-block;
        text-shadow: 0 1px 0 #fff;
    }

    .breadcrumb .divider {
        padding: 0 5px;
        color: #ccc;
    }

    .breadcrumb .active {
        color: #999;
    }

    /*customização*/
    .breadcrumb > li + li:before {
        color: #919191;
        content: "\2771\00a0";
        padding: 0 5px;
    }

.ultimoDiretorio {
    color: #737373;
}

.ultimoDiretorio {
    pointer-events: none;
}

a.ultimoDiretorio:link, a.ultimoDiretorio:visited, a.ultimoDiretorio:hover, a.ultimoDiretorio:active {
    text-decoration: none;
}

.breadcrumb span {
    font-size: 12px !important;
}
/*Fixar tamanho da fonte para padronizar, senão o tamanho fica de acordo com cada página*/

.menu_breadcrumb {
    width: calc(100% - 16px);
    /*padding-top: 90px;*/
    padding-bottom: 10px;
    margin-bottom: 16px;
    margin-left: 8px;
    padding: 0 8px;
}

.menu_breadcrumbSlim {
    width: 100%;
    /*padding-top: 38px;*/
    padding-bottom: 10px;
    float: left;
    height: 40px !important;
    margin-bottom: 16px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -500px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -500px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
