.Paginacao
{
    background-color: #ECF3FC;    
}

.PnlPaginacaoNumerica
{
    display: inline;
}

.PnlPaginacaoNumerica a
{
    text-decoration: none;
    padding: 0 5px 0 0;
}

.PnlPaginacaoNumerica a.PaginaCorrente
{
    font-weight: Bold;
}