<!-- ETAPA 05 -->
<div class="container" id="etapa5">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col center">
            <h3 class="h3b darkgrey">Cadastre seu currículo!</h3>
            <h5 class="h5b mediumgrey">É fácil! É rápido! É sempre grátis.</h5>
        </div>
    </div>
    <!-- Tracker-->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col md-progtrckr">
            <ol class="progtrckr" data-progtrckr-steps="5">
                <li class="progtrckr-todo" id="step-ok"><span>Mini Curriculo</span></li>
                <li class="progtrckr-todo" id="step-ok"><span>Dados Pessoais</span></li>
                <li class="progtrckr-todo" id="step-ok"><span>Formação e Cursos</span></li>
                <li class="progtrckr-todo"><span><strong>4. Informações Extras</strong></span><br /><div class="substage">Seu novo emprego esta próximo.</div></li>
                <li class="progtrckr-done" id="step-nok"><span>Conferir</span></li>
            </ol>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet"><h6><strong>Confira! </strong><span> Verifique se seus dados estão corretos e conclua seu cadastro.</span></h6></div>
    </div>
    <div id="curriculo-pg">
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">Ralfh Cesar Pereira Ramos Filhos</div>
            <div class="mdl-cell mdl-cell--12-col temp">Nome</div>
            <div class="mdl-cell mdl-cell--12-col temp">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--1-col">Sexo</div>
                    <div class="mdl-cell mdl-cell--4-col">Masculino</div>
                    <div class="mdl-cell mdl-cell--1-col">CPF</div>
                    <div class="mdl-cell mdl-cell--4-col">048.878.888-41</div>
                    <div class="mdl-cell mdl-cell--2-col">Foto</div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col tempok">Pretensões</div>

            <div class="mdl-cell mdl-cell--4-col temp">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">Nome Campo</div>
                    <div class="mdl-cell mdl-cell--6-col">Edit Campo</div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col temp">Foto</div>
            <div class="mdl-cell mdl-cell--12-col temp">Escolaridade</div>
            <div class="mdl-cell mdl-cell--12-col temp">Experiência profissional</div>
            <div class="mdl-cell mdl-cell--2-col temp">Coluna 01</div>
            <div class="mdl-cell mdl-cell--10-col temp">Coluna 02</div>
            <div class="mdl-cell mdl-cell--12-col temp">Observações</div>
            <div class="mdl-cell mdl-cell--3-col temp">Coluna 01</div>
            <div class="mdl-cell mdl-cell--9-col temp">Coluna 02</div>
            <!--<div class="mdl-cell mdl-cell--4-col temp">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col check-nm-field">Sexo</div>
                    <div class="mdl-cell mdl-cell--8-col edit-field">
                        <div class="edit-icon"><span><i class="material-icons">create</i></span></div>
                        <div class="edit-input"><input type="text" id="homerec" value="Masculino" /></div>
                    </div>
                </div>
            </div>-->

        </div>
    </div>

</div>