/*------------------------------------------------------------ Theme Arlequin*/
$nomeTema:'Arlequin';
$LightColor:#39E500;
$LightColorSt:'#39E500';

$MediumColor:#32CB00;

$DarkColor:#1F7F00;
$DarkColorSt:'#1F7F00';