/*------------------------------------------------------------ Theme Pêssego*/
$nomeTema:'Pessego';
$LightColor:#FF7841;
$LightColorSt:'#FF7841';

$MediumColor:#FB7640;

$DarkColor:#BF5A31;
$DarkColorSt:'#BF5A31';