    <div class="row clearfix" ng-controller="footerController">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand active pull-left" href="#"><img src="../images/logoAzulzinho/layout-azulzinho-sm.png" class="img-responsive" /></a>
                    <a href="#" class="btn btn-link pull-right hidden-md hidden-lg hidden-print" title="voltar para o topo"><i class="fa fa-arrow-circle-o-up fa-3x"></i></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-nav-adjust-footer" id="outer">
                        <li class="" id="inner"><a href="/" class="btn btn-link hidden-sm">VAGAS DE EMPREGO</a></li>
                        <li><a href ng-click="redirecionar('Cadastro')" class="btn btn-link hidden-sm hidden-print">CADASTRO DE CURRÍCULO</a></li>
                        <li><a href="http://noticias.azulzinho.com.br" class="btn btn-link hidden-sm hidden-print">NOTÍCIAS</a></li>
                        <li><a href="http://noticias.azulzinho.com.br/agencias" class="btn btn-link hidden-sm hidden-print">AGÊNCIAS DE EMPREGO</a></li>
                        <li><a href="/QuemSomos" class="btn btn-link hidden-sm hidden-print">QUEM SOMOS</a></li>
                        <li><a href ng-click="goToTop()" class="btn btn-link hidden-sm hidden-xs hidden-print"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

 