<div class="container-fluid" >
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">MENU</span><span class="icon-bar">
                        </span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="#" style="display:none">Brand</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-nav-adjust" id="outer">
                        <li class="inner">
                            <a href="/" class="btn btn-link">VAGAS DE EMPREGO</a>
                        </li>
                        <li>
                            <a href ng-click="redirecionar('Cadastro')" id="btnFazerCurriculo" class="btn btn-link">CADASTRO DE CURRÍCULO</a>
                        </li>
                        <li>
                            <a href="http://noticias.azulzinho.com.br" class="btn btn-link">NOTÍCIAS</a>
                        </li>
                        <li>
                            <a href="http://noticias.azulzinho.com.br/agencias" class="btn btn-link">AGÊNCIAS DE EMPREGO</a>
                        </li>
                        <li>
                            <a href="/QuemSomos" class="btn btn-link">QUEM SOMOS</a>
                        </li>
                        <li class="li-set" ng-show="usuarioLogado">Olá, <span><strong>{{nomeUsuario}}</strong></span> <button href="#" class="btn btn-link" ng-click="logOut()">Sair</button></li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron  text-center">
                <h1>
                    <a href="/"><img src="../images/logoAzulzinho/layout-azulzinho.png" class="img-responsive" /></a>
                </h1>
            </div>
        </div>
    </div>
    <div class="container-adjust search-adjust" ng-show="isHome">
        <div class="row clearfix">
            <div class="col-md-8 column">
                <form class="navbar-form" role="search">
                    <div class="form-inline">
                        <div class="set-label"><label class="h3-set">PESQUISE POR:</label></div>
                        <div class="input-group">
                            <input type="text" class="form-control" id="filtroFuncao" name="filtroFuncao" ng-model="filtro.text" placeholder="área de atuação e/ou cidade" ng-keypress="AtualizarListaVagasByEnter($event)">
                            <span class="input-group-btn">
                                <a class="btn btn-default btn-lg" href="/vaga/{{filtro.text|formatToUrl}}"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 column" style="padding-top:7px">
                <button ng-show="!usuarioLogado" class="btn btn-default btn-lg btn-lg-set pull-right" type="button" ng-click="redirecionar('Cadastro')"><i class="fa fa-plus-square-o"></i> CADASTRAR CURRÍCULO</button>
                <button ng-show="usuarioLogado" class="btn btn-default btn-lg btn-lg-set pull-right" type="button" ng-click="redirecionar('Cadastro')"><i class="fa fa-pencil-square-o"></i> EDITAR CURRÍCULO</button>
            </div>
        </div>
    </div>
</div>