<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppId" value="70" />
    <add key="horaExecucao" value="18" />
    <add key="minutoExecucao" value="31" />
  </appSettings>
  <connectionStrings>
    <add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNEService" />
    <add name="CONN_NOTIFICACAO" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_Notificacao_PRD;User ID=bne_imp;Password=w3bBn3N0vo;Application Name=BNEService;" />
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=ATIVIDADE_PRD;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=240000;Application Name=BNEService" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPHW0114209\PRD;Initial Catalog=PLATAFORMA_LOGERRO_PRD;Persist Security Info=True;User ID=logerro_app;Password=l0g3rr0pr0d@2013;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://wspg.apprh.com.br/celulardaselecionadora/App.svc/mex" binding="wsHttpBinding" bindingConfiguration="WSMexEndPointTanqueService_IApp" contract="BNETanqueService.IApp" name="WSMexEndPointTanqueService_IApp" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSMexEndPointTanqueService_IApp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="152428800" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="10000" maxArrayLength="16384" maxBytesPerRead="10000" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
