/*------------------------------------------------------------ Theme Indigo*/
$nomeTema:'Indigo';
$LightColor:#4B0082;
$LightColorSt:'#4B0082';

$MediumColor:#430075;

$DarkColor:#250040;
$DarkColorSt:'#250040';