<div class="container marginCadastroEmpresa">
    <article class="col-lg-12 cad-vaga">
        <div class="col-lg-9">
            <h2 class="gray">Não perca tempo! </h2>
            <p class="gray subTitle">Encontre sua vaga ou envie seu currículo para a empresa em que sempre sonhou trabalhar!</p>
        </div>
        <div class="col-lg-3 text-right">
            <a class="btn btn-back"><i class="icon-back"></i>Volte à tela inicial</a>
        </div>

        <p class="clearfix"></p>
        <div class="row">
            <div class="col-lg-6 h3 text-center blue-title">
                <!--<i class="icon-search"></i>-->
                Encontrar vaga<hr class="no-space hrVagas">
            </div>
            <div class="col-lg-6 h3 text-center blue-title">
                <!--<i class="icon-send"></i>-->
                Envie seu Currículo<hr class="no-space hrVagas">
            </div>
            <p class="clearfix"></p>
            <div class="col-lg-6">
                <div class="col-lg-11 col-xs-push-1">
                    <div class="gradient-box">
                        <div class="b">
                            <h4>Gerente de Vendas - <small>Salário de R$ 3.000,00 - Curitiba/PR</small></h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Prospecção de clientes, visitas externas, vendas por catálogo de produtos. Assegurar a realização das metas de vaendas traçadas pelo grupo para a área da revendas, gerenciando as [...]</p>
                                </div>
                                <div class="col-lg-6">
                                    <p><strong>Código da Vaga:</strong> V00719178</p>
                                    <a class="btn btn-block apply"><i></i>Quero me
                                        <br>
                                        candidatar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ">
                <div class="col-lg-11 col-xs-push-1">
                    <div class="gradient-box">
                        <div class="b">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Prospecção de clientes, visitas externas, vendas por catálogo de produtos. Assegurar a realização das metas de vaendas traçadas pelo grupo para a área da revendas, gerenciando as texto texto texto texto texto texto texto texto texto texto texto texto[...]</p>
                                </div>
                                <div class="col-lg-6">
                                    <img src="images/logo/walmart.jpg" class="setLogoEmpresas" />
                                    <a class="btn btn-block apply"><i></i>Quero me
                                        <br>
                                        candidatar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="clearfix"></p>

        <div class="row">
            <div class="col-lg-6 ">
                <div class="col-lg-11">
                    <div class="gradient-box">
                        <div class="b">
                            <h4>Gerente de Vendas - <small>Salário de R$ 3.000,00 - Curitiba/PR</small></h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Prospecção de clientes, visitas externas, vendas por catálogo de produtos. Assegurar a realização das metas de vaendas traçadas pelo grupo para a área da revendas, gerenciando as [...]</p>
                                </div>
                                <div class="col-lg-6">
                                    <p><strong>Código da Vaga:</strong> V00719178</p>
                                    <a class="btn btn-block apply"><i></i>Quero me
                                        <br>
                                        candidatar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 ">
                <div class="col-lg-11 col-xs-push-1">
                    <div class="gradient-box">
                        <div class="b">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Prospecção de clientes, visitas externas, vendas por catálogo de produtos. Assegurar a realização das metas de vaendas traçadas pelo grupo para a área da revendas, gerenciando as texto texto texto texto texto texto texto texto texto texto texto texto[...]</p>
                                </div>
                                <div class="col-lg-6">
                                    <img src="images/logo/pernambucanas.jpg" class="setLogoEmpresas" />
                                    <a class="btn btn-block apply"><i></i>Quero me
                                        <br>
                                        candidatar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="clearfix"></p>

        <div class="row">
            <div class="col-lg-6 ">
                <div class="col-lg-11 col-xs-push-1">
                    <div class="gradient-box">
                        <div class="b">
                            <h4>Gerente de Vendas - <small>Salário de R$ 3.000,00 - Curitiba/PR</small></h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Prospecção de clientes, visitas externas, vendas por catálogo de produtos. Assegurar a realização das metas de vaendas traçadas pelo grupo para a área da revendas, gerenciando as [...]</p>
                                </div>
                                <div class="col-lg-6">
                                    <p><strong>Código da Vaga:</strong> V00719178</p>
                                    <a class="btn btn-block apply"><i></i>Quero me
                                        <br>
                                        candidatar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="clearfix"></p>
                    <button class="btn btn-block btn-default btn-lg btn-titleBlue">VER TODAS AS <strong>VAGAS</strong></button>
                    <p class="clearfix"></p>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="col-lg-11 col-xs-push-1">
                    <div class="gradient-box">
                        <div class="b">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>Prospecção de clientes, visitas externas, vendas por catálogo de produtos. Assegurar a realização das metas de vaendas traçadas pelo grupo para a área da revendas, gerenciando as texto texto texto texto texto texto texto texto texto texto texto texto[...]</p>
                                </div>
                                <div class="col-lg-6">
                                    <img src="images/logo/manserv.jpg" class="setLogoEmpresas" />
                                    <a class="btn btn-block apply"><i></i>Quero me
                                        <br>
                                        candidatar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="clearfix setMarginButton"></p>
                    <button class="btn btn-block btn-default btn-lg btn-titleBlue">VER TODAS AS <strong>EMPRESAS </strong></button>
                </div>
            </div>
        </div>
    </article>
</div>