/*------------------------------------------------------------ Theme Opala*/
$nomeTema:'Opala';
$LightColor:#FFE37B;
$LightColorSt:'#FFE37B';

$MediumColor:#EAD171;

$DarkColor:#BFAA5C;
$DarkColorSt:'#BFAA5C';