<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CONN_NOTIFICACAO" connectionString="Data Source=187.61.9.166;Initial Catalog=BNE_Notificacao_PRD;User ID=bne_imp;Password=w3bBn3N0vo;"/>
    <add name="CONN_BNE" connectionString="Data Source=187.61.9.166;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=240000; " />
    <!--<add name="CONN_NOTIFICACAO" connectionString="Data Source=BNE-BD\SQL2008R2;Initial Catalog=BNE_Notificacao_HOM;User ID=bne_app;Password=123;"/>
    <add name="CONN_BNE" connectionString="Data Source=BNE-BD\SQL2008R2;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; " />-->
    <add name="plataforma" connectionString="Data Source=empvw0085\SQL2008R2;Initial Catalog=WIF_HML;User ID=login_app;Password=123;" />
    <add name="CONN_SISTMARS" connectionString="Data Source=BNE-BD\sql2005;Initial Catalog=sistmars_dev;User ID=sistmars_dev;Password=123; Connect Timeout=120"/>
    <add name="QueryLog" connectionString="Data Source=BNE-BD\SQL2008R2;Initial Catalog=PLATAFORMA_LOGERRO_BNE_HOM;User ID=auditoria_app;Password=123;Application Name=BNE;" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BNE-BD\SQL2008R2;Initial Catalog=PLATAFORMA_LOGERRO_BNE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>