<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GravaLogAuditoria" value="False" />
    <add key="ApiCampanhaTanque" value="http://wstg.apprh.com.br/ApiCampanha/" />
    <add key="PathToMapperDLL" value="C:\tfs\tfs.employer.com.br\BNE\src\BNE-New\BNE.Mapper.ToNew\bin\Debug" />
  </appSettings>
  <connectionStrings>
    <add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNE_WEB" />
    <!--<add name="CONN_BNE" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; " />-->
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=ATIVIDADE_PRD;User ID=atividade_app;Password=@t1vidAd3; Connect Timeout=120000;Application Name=BNE_WEB" />
    <add name="PessoaJuridica" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM_NEW;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0085\HOM2012;Initial Catalog=PLATAFORMA_LOG_ERRO;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>

        <binding name="ReluzCap Web ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <wsHttpBinding>

        <binding name="WSMexEndPointTanqueService_IApp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="RestBinding_TanqueService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior_Tanque">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://wstg.apprh.com.br/celulardaselecionadora/app.svc" binding="wsHttpBinding" bindingConfiguration="WSMexEndPointTanqueService_IApp" contract="BNETanqueService.IApp" name="WSMexEndPointTanqueService_IApp" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
