<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BNE.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BNE.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="StoragesConfig" type="BNE.StorageManager.StoragesConfigSection, BNE.StorageManager" allowLocation="true" allowDefinition="Everywhere" />
    <section name="BufferLogConfig" type="Employer.PlataformaLog.Conf.BufferLogConfig, Employer.PlataformaLog" />
    <section name="LogErrorConfig" type="Employer.PlataformaLog.Conf.LogErrorConfig, Employer.PlataformaLog" />
    <section name="CrossDomainEventsSettings" type="SharedKernel.DomainEvents.CrossDomainEvents.Configuration.CrossDomainEventsSettings, SharedKernel.DomainEvents.CrossDomainEvents" />
  </configSections>
  <CrossDomainEventsSettings host="10.1.0.60" user="bne" password="bn3@2016" />
  <!--storageType: local ou objectStorage -->
  <StoragesConfig>
    <ObjectStorages>
      <ObjectStorage name="public" url="https://tor01.objectstorage.softlayer.net" account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8" container="BNE_Hom_Public" user="SLOS390380-2:franciscoribas" apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff" />
      <ObjectStorage name="private" url="https://tor01.objectstorage.softlayer.net" account="AUTH_2a12668c-98ed-4ee8-8757-442f431aecf8" container="BNE_Hom_Private" user="SLOS390380-2:franciscoribas" apiKey="d01349a13588d7284dbb595eb94e34f93ab3494f2b074ec038af2130697199ff" />
    </ObjectStorages>
    <Folders>
      <Folder name="siteMapsCurriculo">
        <Storages>
          <Storage name="" type="ObjectStorage" storageFolder="siteMapsCurriculo" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="siteMapsVagas">
        <Storages>
          <Storage name="" type="ObjectStorage" storageFolder="siteMapsVagas" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="siteMapsEmpresas">
        <Storages>
          <Storage name="" type="ObjectStorage" storageFolder="siteMapsEmpresas" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
      <Folder name="siteMapsGeral">
        <Storages>
          <Storage name="" type="ObjectStorage" storageFolder="siteMapsGeral" storageName="private" Enabled="true" />
        </Storages>
      </Folder>
    </Folders>
  </StoragesConfig>
  <BufferLogConfig Tamanho="50" Timeout="00:00:30" />
  <LogErrorConfig>
    <HttpLogErrorIgnore>
      <!--<add statusCode="404"></add>
      <add statusCode="403"></add>-->
    </HttpLogErrorIgnore>
  </LogErrorConfig>
  <appSettings>
    <add key="AppId" value="37" />
    <add key="versao" value="BNE v.2.0 " />
    <add key="urlSite" value="http://teste.bne.com.br/" />
    <add key="urlApiSalarioBR" value="http://teste.salariobr.com/api/" />
    <add key="diretorioAplicacao" value="C:\Projects\BNE-v.Prd\BNE.Web\" />
    <!-- Usado pelo ViewState no servidor -->
    <!-- Utilizar Memcached, Disk ou HiddenField (Default "Disk") -->
    <add key="PageStatePersister" value="Disk" />
    <!-- definir a expiracao do view state em cache (em minutos) (Default 30) -->
    <add key="MemcachedTimeSpan" value="30" />
    <!-- definir a expiracao do view state em cache (em minutos) (Default 30) -->
    <add key="MemcachedPath" value="C:\Users\franciscoribas\Desktop\memcached-amd64\memcached.exe" />
    <add key="MemcachedParams" value="-m 1024" />
    <add key="AutoClearPageStatePersister" value="True" />
    <add key="CommandTimeout" value="240" />
    <add key="GravaLogAuditoria" value="False" />
    <!-- Cache -->
    <add key="HabilitaCache" value="True" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="KeyPath" value="C:\crypt\b\k.txt" />
    <!--Bradesco-->
    <add key="cielo.webservice.url" value="https://qasecommerce.cielo.com.br/servicos/ecommwsec.do" />
    <add key="cielo.customer.id" value="1006993069" />
    <add key="cielo.customer.key" value="25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3" />
    <add key="cielo.language.id" value="0" />
    <add key="cielo.currency.id" value="986" />
    <add key="cielo.return.url" value="null" />
    <add key="cielo.habilitado" value="1" />
    <!--Desabilitado = 0 Habilitado = 1-->
    <add key="ApiCampanhaTanque" value="http://wstg.apprh.com.br/ApiCampanha/" />
    <add key="PathToMapperDLL" value="C:\tfs.employer.com.br\BNE\src\BNE-New\BNE.Mapper.ToNew\bin\Debug" />
    <add key="ChaveCriptografia" value="#T3T4_D3V@c@!" />
    <add key="ArquivosTemporarios" value="C:\ArquivosTemporarios\" />
    <add key="UtilizaPagarMe" value="True" />
    <add key="UtilizaCielo" value="True" />
    <!--<add key="DefaultApiKeyPagarMe" value="ak_test_DzkAmdoa4vR0H07ZK5i6ElpH9Unxer" />
    <add key="DefaultEncryptionKeyPagarMe" value="ek_test_x8qI9IrDKFvTqcC4We3tSSTRgL8qBM" />-->

    <add key="DefaultApiKeyPagarMe" value="ak_live_d3mDVtAqxcnQBwFC4rtCKzgoKkOqIe" />
    <add key="DefaultEncryptionKeyPagarMe" value="ek_live_7G6gIIi6Ts9AC6viCuNHebIOk05uVJ" />
    
    <add key="urlRetorno" value="http://localhost:2000/ConfirmacaoPagamento.aspx" /> 
    <add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Team Tools\Performance Tools\vsinstr.exe" />
  </appSettings>
 <connectionStrings>
    <add name="CONN_BNE" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; " />


    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=ATIVIDADE_PRD;User ID=bne_app;Password=123; Connect Timeout=240000; " />
    <add name="PessoaJuridica" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM_NEW;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CONN_CEP" connectionString="Data Source=empvw0150\HOM2012;Initial Catalog=CEP_BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; " />
    <add name="plataforma" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=WIF_NOVAFOLHA_TESTE_HOM;User ID=login_app;Password=123;" />
    <add name="CONN_NOTIFICACAO" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_Notificacao_HOM;User ID=bne_app;Password=123;" />
    <add name="ValidaCelular" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123;" providerName="System.Data.SqlClient" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0150\HOM2012;Initial Catalog=PLATAFORMA_LOGERRO_BNE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      </connectionStrings>

  <!--produção-->

  <!--<connectionStrings>
    <add name="CONN_CEP" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=CEP_BNE_PRD;User ID=cep_app;Password=c3p@9P|3ne; Connect Timeout=120000;Application Name=www.bne.com.br" />
    <add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=www.bne.com.br" />
    <add name="PessoaJuridica" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE2_PRD;User ID=bne2_app;Password=bN32oD5App;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="plataforma" connectionString="Data Source=Empvw5203\PRDST;Initial Catalog=WIF_PRD2;User ID=login_app;Password=W38f0p@6;Application Name=www.bne.com.br" />
    <add name="CONN_NOTIFICACAO" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_Notificacao_PRD;User ID=bne_imp;Password=w3bBn3N0vo;Application Name=www.bne.com.br" />
    <add name="CONN_SISTMARS" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=sistmars;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=www.bne.com.br" />
    <add name="QueryLog" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=PLATAFORMA_LOGERRO_PRD;User ID=auditoria_app;Password=123;Application Name=www.bne.com.br" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPHW0114209\PRD;Initial Catalog=PLATAFORMA_LOGERRO_PRD;Persist Security Info=True;User ID=logerro_app;Password=l0g3rr0pr0d@2013;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ValidaCelular" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo;Application Name=www.bne.com.br" providerName="System.Data.SqlClient" />
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=ATIVIDADE_PRD;User ID=atividade_app;Password=@t1vidAd3; Connect Timeout=120000;Application Name=www.bne.com.br" />
    <add name="CONN_MENSAGEM" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=MENSAGEM_PRD;User ID=bne_imp;Password=w3bBn3N0vo;Application Name=BNE.Services.JornalVagas;TransparentNetworkIPResolution=false;" />
  </connectionStrings>-->
  <location path="Handlers">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <xhtmlConformance mode="Transitional" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <httpRuntime maxRequestLength="20480" maxUrlLength="500" />
    <!--<trace enabled="true" pageOutput="true" requestLimit="100000"/>-->
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />-->
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <machineKey compatibilityMode="Framework20SP2" validationKey="02A71285DC9C22B42D0DF698C75F2687E429E3A3FDE33152E4C1401411EC8EFE7E240B7A63E9C446B4BF9529F44EA6834E904BCC4A0980DE960D5005CC5CADF1" decryptionKey="B5077466FA9BA9AEFDB7C37AD6084481305BAB3E30C41E56A9B2FF69098D3BD3" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms name=".BNEASPXAUTH" loginUrl="~/Login.aspx" ticketCompatibilityMode="Framework40" timeout="2880" slidingExpiration="true" />
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages validateRequest="true" enableEventValidation="false" maxPageStateFieldLength="10024" styleSheetTheme="Padrao" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="componente" namespace="Employer.Plataforma.Web.Componentes" assembly="Employer.Plataforma.Web.Componentes" />
        <add tagPrefix="AjaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="Employer" namespace="Employer.Componentes.UI.Web" assembly="Employer.Componentes.UI.Web" />
        <add tagPrefix="Componentes" namespace="BNE.Componentes" assembly="BNE.Componentes" />
        <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" verb="*" validate="false" />
      <!--<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>-->
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!--<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />-->
      <add verb="POST,GET" path="*.caprf" type="BNE.Componentes.Handlers.HandlerCaptchaReceitaFederal,BNE.Componentes" />
    </httpHandlers>
    <httpModules>
      <remove name="PassportAuthentication" />
      <remove name="WindowsAuthentication" />
      <remove name="RoleManager" />
      <remove name="Profile" />
      <add name="BNEAuthModule" type="BNE.Auth.HttpModules.BNEAuthModule, BNE.Auth" />
      <add name="SessionTimeoutModule" type="BNE.Auth.HttpModules.SessionTimeoutModule, BNE.Auth" />
    </httpModules>
    <sessionState mode="InProc" cookieless="false" />
    <!--
    <sessionState mode="Custom" customProvider="RedisSessionStateStore">
      <providers>
        <add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="127.0.0.1" accessKey="" ssl="false" />
      </providers>
    </sessionState>
    -->
  </system.web>
  <!--<location path="WebServices">
    <system.web>
      <authorization>
        <allow users="adm"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="PassportAuthentication" />
      <remove name="WindowsAuthentication" />
      <remove name="RoleManager" />
      <remove name="Profile" />
      <add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="BNEAuthModule" preCondition="managedHandler" type="BNE.Auth.HttpModules.BNEAuthModule, BNE.Auth" />
      <add name="SessionTimeoutModule" type="BNE.Auth.HttpModules.SessionTimeoutModule, BNE.Auth" />
    </modules>
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
      <add name="PageHandlerFactory" verb="POST,GET" preCondition="integratedMode" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
      <!--<add name="MSCaptcha.CaptchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>-->
      <add name="HandlerCaptchaReceitaFederal" verb="POST,GET" path="*.caprf" type="BNE.Componentes.Handlers.HandlerCaptchaReceitaFederal,BNE.Componentes" />
      <add name="ImagemCodigoBarraHandler" verb="*" path="ImagemCodigoBarra.ashx" type="BoletoNet.ImagemCodigoBarraHandler" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <BNE.Web.Properties.Settings>
      <setting name="PessoaFisicaFotoChave" serializeAs="String">
        <value>0c088ab7-ae45-40a6-9736-cf344d801aa4</value>
      </setting>
      <setting name="BNE_Web_wsAutenticacaoSOSRH_wsAutenticacao" serializeAs="String">
        <value>http://teste.sosrh.com.br/webservices/wsAutenticacao.asmx</value>
      </setting>
      <setting name="SubDiretorioFoto" serializeAs="String">
        <value>/ArquivosTemporarios/ErroFotoTemp</value>
      </setting>
      <setting name="PessoaFisicaFotoDelayLimparCacheMinutos" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PessoaFisicaFotoCaminho" serializeAs="String">
        <value>/Fotos</value>
      </setting>
      <setting name="BNE_Web_WSPessoaJuridica_WSPessoaJuridica" serializeAs="String">
        <value>http://wstestegeral.webfopag.com.br/WSPessoaJuridica.asmx</value>
      </setting>
      <setting name="PessoaJuridicaLogoHandler" serializeAs="String">
        <value>/Handlers/PessoaJuridicaLogo.ashx?CNPJ={0}&amp;origem={1}</value>
      </setting>
      <setting name="PessoaFisicaFotoHandler" serializeAs="String">
        <value>/Handlers/PessoaFisicaFoto.ashx?CPF={0}&amp;origem={1}</value>
      </setting>
      <setting name="BNE_WEB_CurriculoThumbFotoHandler" serializeAs="String">
        <value>/Handlers/CurriculoThumbFoto.ashx</value>
      </setting>
      <setting name="PessoaFisicaDelayCurriculoLink" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BNE_WEB_CurriculoLinkHandler" serializeAs="String">
        <value>/Handlers/CurriculoLink.ashx</value>
      </setting>
      <setting name="PessoaJuridicaLogoDelayLimparCacheMinutos" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PessoaJuridicaLogoCaminho" serializeAs="String">
        <value>/Logos</value>
      </setting>
      <setting name="BNE_BLL_wsIntegracaoWFat_IntegracaoFaturamentoFinanceiro" serializeAs="String">
        <value>http://wshomglobal.webfopag.com.br/IntegracaoFaturamentoFinanceiro.asmx</value>
      </setting>
      <setting name="BNE_Web_wsTransacao_wsTRANSACAO" serializeAs="String">
        <value>http://wshomglobal.webfopag.com.br/wstransacao.asmx</value>
      </setting>
    </BNE.Web.Properties.Settings>
    <BNE.BLL.Properties.Settings>
      <setting name="BNE_BLL_wsIntegracaoWFat_IntegracaoFaturamentoFinanceiro" serializeAs="String">
        <value>http://wshomglobal.webfopag.com.br/IntegracaoFaturamentoFinanceiro.asmx</value>
      </setting>
      <setting name="BNE_BLL_wsTRANSACAO_wsTRANSACAO" serializeAs="String">
        <value>
          http://wshomglobal.webfopag.com.br/wstransacao.asmx
        </value>
      </setting>
      <setting name="BNE_BLL_wsCEP_cepws" serializeAs="String">
        <value>
          http://wsTestegeral.webfopag.com.br/cepws.asmx
        </value>
      </setting>
      <setting name="BNE_BLL_wsSine" serializeAs="String">
        <value>http://wsprd.sine.com.br/App.svc</value>
      </setting>
    </BNE.BLL.Properties.Settings>
  </applicationSettings>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IGeocodeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISalarioBrReports" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IwsCEP">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IGeocodeService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IApp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IIntegracao">
          <security mode="None" />
        </binding>
        <binding name="WSMexEndPointTanqueService_IApp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="152428800" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="10000" maxArrayLength="16384" maxBytesPerRead="10000" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="RestBinding_TanqueService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="10000" maxArrayLength="16384" maxBytesPerRead="10000" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior_Tanque">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://wshomglobal.webfopag.com.br/WsIntegracaoFaturamentoFinanceiro.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro" contract="wsFat.IWsIntegracaoFaturamentoFinanceiro" name="BasicHttpBinding_IWsIntegracaoFaturamentoFinanceiro" />
      <endpoint address="http://wsteste.sine.com.br/App.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApp" contract="wsSine.IApp" name="WSHttpBinding_IApp" />
      <endpoint address="http://wsdevgeral.soueumesmo.com.br/Integracao.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIntegracao" contract="IntegracaoSouEuMesmo.IIntegracao" name="WSHttpBinding_IIntegracao" />
      <endpoint address="http://wstesterelatorios.salariobr.com/SalarioBrReports.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalarioBrReports" contract="SalarioBrReports.ISalarioBrReports" name="BasicHttpBinding_ISalarioBrReports" />
      <endpoint address="http://wstg.apprh.com.br/celulardaselecionadora/App.svc/mex" binding="wsHttpBinding" bindingConfiguration="WSMexEndPointTanqueService_IApp" contract="BNETanqueService.IApp" name="WSMexEndPointTanqueService_IApp" />
      <endpoint address="https://wsprdgeral4.webfopag.com.br/wsCEP.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsCEP" contract="wsCEP.IwsCEP" name="BasicHttpBinding_IwsCEP" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.PlataformaLog" publicKeyToken="84ac12e9cf61bfdb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>