<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="CONN_BNE"
      connectionString="Data Source=BNE-BD\SQL2005;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=123;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="plataforma"
         connectionString="Data Source=sqluol2.webfopag.com.br;Initial Catalog=PLATAFORMA_PRODUCAO;User ID=login_prd;Password=W38f0p@6"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CONN_SISTMARS"
         connectionString="Data Source=BNE-BD\SQL2005;Initial Catalog=sistmars;User ID=bne_imp;Password=123; Connect Timeout=120"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="QueryLog"
     connectionString="Data Source=BNE-BD\sql2005;Initial Catalog=PLATAFORMA_LOG_ERRO;User ID=auditoria_app;Password=123;Application Name=BNE;"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="urlSite" value="http://www2.bne.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="global_js" value="~/js/jquery-1.4.4.min.js,~/js/Controle.min.js,~/js/global/geral.min.js, ~/js/Framework/min/employer.min.js,~/js/Framework/min/employer.util.min.js,~/js/Framework/min/employer.util.string.min.js,~/js/Framework/min/employer.util.number.min.js,~/js/Framework/min/employer.util.date.min.js,~/js/Framework/min/employer.event.min.js,~/js/Framework/min/employer.form.min.js,~/js/Framework/min/employer.form.util.min.js,~/js/Framework/min/employer.key.min.js,~/js/Framework/min/employer.design.min.js,~/js/Framework/min/employer.controles.min.js" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpModules>
    </httpModules>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" xdt:Transform="Replace">
      <error statusCode="500" redirect="PaginaErro.aspx"/>
    </customErrors>
  </system.web>



  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
  <applicationSettings>
    <BNE.Web.Properties.Settings>
      <setting name="BNE_Web_wsCEP_cepws"
               serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <value>http://wsprdgeral.webfopag.com.br/cepws.asmx</value>
      </setting>
      <setting name="BNE_Web_wsAutenticacaoSOSRH_wsAutenticacao" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://www.sosrh.com.br/webservices/wsAutenticacao.asmx</value>
      </setting>
      <setting name="BNE_Web_wsPessoaFisicaFoto_wsPessoaFisicaFoto"
        serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://www.meusalariohoje.com.br/WebServices/wsPessoaFisicaFoto.asmx</value>
      </setting>
      <setting name="PessoaFisicaFotoChave" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>0c088ab7-ae45-40a6-9736-cf344d801aa4</value>
      </setting>
      <setting name="PessoaFisicaFoto" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://www.meusalariohoje.com.br/webservices/PessoaFisicaFoto.ashx?cpf=</value>
      </setting>
      <setting name="BNE_Web_wsTransacao_wsTRANSACAO" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://wsprdglobal.webfopag.com.br/wsTRANSACAO.asmx</value>
      </setting>
      <setting name="BNE_Web_WSPessoaJuridica_WSPessoaJuridica" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://wsprdgeral.webfopag.com.br/WSPessoaJuridica.asmx</value>
      </setting>
    </BNE.Web.Properties.Settings>

  </applicationSettings>
</configuration>