<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="urlSite" value="http://dev.bne.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug,assemblyPostProcessorType)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <httpModules>
    </httpModules>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <rewrite xdt:Transform="Insert">
      <rules>
        <clear />
        <rule name="Rewrite para mvc de vagas" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <!--<add input="{REQUEST_URI}" pattern="^/(vagas?-de-emprego|resultado-pesquisa-avancada-de-vagas|busca-de-vagas)" />-->
            <add input="{REQUEST_URI}" pattern="^/(resultado-pesquisa-avancada-de-vagas|busca-de-vagas)" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/vagas-de-emprego/(.*)" negate="true" />
          </conditions>
          <!--<action type="Rewrite" url="/vagas-de-emprego/{R:1}" />-->
          <action type="Rewrite" url="/vagas-de-emprego/{R:1}" />
        </rule>
        <rule name="Rewrite para mvc de Pessoa Fisica" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="vaga-de-emprego.*[0-9]+" />
            <add input="{REQUEST_URI}" pattern="^(.*)pessoafisica(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://teste.pessoafisica.bne.com.br/{R:1}" />
        </rule>
        <rule name="Rewrite para mvc de pessoa fisica controller" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/pessoafisica/(.*)" />
            <add input="{REQUEST_URI}" pattern="^/pessoafisica/bundles(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://teste.pessoafisica.bne.com.br/{R:1}" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite para mvc de pessoa fisica Static Files 2" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/pessoafisica/(.*)" />
          </conditions>
          <action type="Rewrite" url="http://teste.pessoafisica.bne.com.br/{C:1}" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite para mvc de pessoa fisica Static Files" enabled="false" stopProcessing="true">
          <match url="pessoafisica(.*)" />
          <action type="Rewrite" url="http://teste.pessoafisica.bne.com.br/{R:1}" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite para mvc de pessoa juridica" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="cadastro-de-empresa-gratis(.*)" />
          </conditions>
          <action type="Rewrite" url="http://teste.pessoajuridica.bne.com.br/pessoajuridica/empresa/{C:1}" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite para mvc de pessoa juridica usuario adicional" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="usuario-adicional(.*)" />
          </conditions>
          <action type="Rewrite" url="http://teste.pessoajuridica.bne.com.br/pessoajuridica/usuario" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite para mvc de pessoa juridica controller" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/pessoajuridica/(.*)" />
            <add input="{REQUEST_URI}" pattern="^/pessoajuridica/bundles(.*)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/pessoajuridica(.*).caprf" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^$" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://teste.pessoajuridica.bne.com.br/{R:1}" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite para mvc de pessoa juridica Static Files" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/pessoajuridica/(.*)" />
          </conditions>
          <action type="Rewrite" url="http://teste.pessoajuridica.bne.com.br/{C:1}" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite para imagens do MVC de vagas" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="^/Images/(.*)" />
          </conditions>
          <action type="Rewrite" url="/vagas-de-emprego/{R:1}" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml" enabled="false">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^http(s)?://teste.pessoajuridica.bne.com.br/(.*)" />
          <action type="Rewrite" value="/pessoajuridica/{R:2}" />
        </rule>
        <rule name="RewriteRelativePaths" preCondition="ResponseIsHtml" enabled="false">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^/(.*)" negate="false" />
          <action type="Rewrite" value="/api/{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml" logicalGrouping="MatchAny">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>

</configuration>