/*------------------------------------------------------------ Theme Cinza Claro*/
$nomeTema:'CinzaClaro';
$LightColor:#dfdfdf;
$LightColorSt:'#dfdfdf';

$MediumColor:#D7D7D7;

$DarkColor:#c4c4c4;
$DarkColorSt:'#c4c4c4';