<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StoragesConfig" type="BNE.StorageManager.Config.StoragesConfigSection, BNE.StorageManager" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>


  <appSettings>
    <!-- Envio de email pela Amazon -->
    <add key="AWSProfileName" value="trabaje.com.co"/>
    <add key="AWSRegion" value="us-west-2"/>
  </appSettings>

  <!--<AmazonS3Config>
    <Buckets>
      <add Name="trabajebuckethompublic"  AccessLevel="Public"  AccessKeyID="AKIAJMSTWYWLDYKFRLPQ"  SecretAccessKey="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" />
      <add Name="trabajebuckethomprivate" AccessLevel="Private" AccessKeyID="AKIAJH2HZJFJT47XAEKQ"  SecretAccessKey="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" />
    </Buckets>
  </AmazonS3Config>-->


  <!--storageType: local ou objectStorage -->
  <StoragesConfig>
    <AmazonS3Buckets>
      <Bucket name="public" bucket="bne-trabaje-co-prd-public" accessKeyID="AKIAJHDVMPCS5MIVHL7A" secretAccessKey="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" regionEndpoint="https://s3.amazonaws.com"/>
      <Bucket name="private" bucket="bne-trabaje-co-prd-private" accessKeyID="AKIAJHDVMPCS5MIVHL7A" secretAccessKey="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" regionEndpoint="https://s3.amazonaws.com"/>
    </AmazonS3Buckets>
    <Folders>
      <Folder name="cdn">
        <Storages>
          <Storage name="S3" type="AmazonS3" storageFolder="cdn" storageName="public" Enabled="true"/>
        </Storages>
      </Folder>
      <Folder name="privateTemp">
        <Storages>
          <Storage name="S3" type="AmazonS3" storageFolder="temp" storageName="private" Enabled="true"/>
        </Storages>
      </Folder>
      <Folder name="publicTemp">
        <Storages>
          <Storage name="S3" type="AmazonS3" storageFolder="temp" storageName="public" Enabled="true"/>
        </Storages>
      </Folder>
      <Folder name="curriculos">
        <Storages>
          <Storage name="S3" type="AmazonS3" storageFolder="curriculos" storageName="private" Enabled="true"/>
        </Storages>
      </Folder>
      <Folder name="boletos">
        <Storages>
          <Storage name="S3" type="AmazonS3" storageFolder="boletos" storageName="public" Enabled="true"/>
        </Storages>
      </Folder>
      <Folder name="feeds">
        <Storages>
          <Storage name="S3" type="AmazonS3" storageFolder="feeds" storageName="private" Enabled="true"/>
        </Storages>
      </Folder>
      <Folder name="siteMaps">
        <Storages>
          <Storage name="S3" type="AmazonS3" storageFolder="siteMaps" storageName="private" Enabled="true"/>
        </Storages>
      </Folder>
    </Folders>
  </StoragesConfig>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
