
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <h1>Quem Somos</h1>
            <p>Não é muito mais fácil quando conseguimos resolver muitas coisas em um só lugar? É com esse conceito que o <strong>BNE</strong> - Banco Nacional de Empregos - criou um jornal de vagas pensado para levar um concertado de vagas aos candidatos.</p>
            <p>O objetivo do jornal é trazer uma diagramação moderna e informações relevantes, como notícias, lista autorizada de agências de emprego e dos pontos de atendimento credenciados do <strong>BNE</strong> nas cidades onde o jornal é distribuído. Além disso, o periódico possui um direcionamento para o público de apoio e operacional.</p>
            <p>Disponível também na versão digital, o <strong>Jornal Azulzinho</strong> é uma opção prática e rápida para candidatos com mais contato com a tecnologia, permitindo cadastrar seu currículo e se candidatar as vagas de emprego de forma mais rápida e prática.</p>
        </div>
        <div class="col-md-6 column">
            <img src="../../images/logoAzulzinho/imgQuem.png" class="img-responsive pull-right hidden-sm hidden-xs" />
        </div>
    </div>
</div>

