/*------------------------------------------------------------ Theme Verde Monster*/
$nomeTema:'VerdeMonnster';
$LightColor:#7FFF00;
$LightColorSt:'#7FFF00';

$MediumColor:#71E603;

$DarkColor:#5ABD09;
$DarkColorSt:'#5ABD09';