/*------------------------------------------------------------ Theme Sambar*/
$nomeTema:'Sambar';
$LightColor:#BF9A75;
$LightColorSt:'#BF9A75';

$MediumColor:#B79470;

$DarkColor:#7F674E;
$DarkColorSt:'#7F674E';