/*------------------------------------------------------------ Theme Magenta*/
$nomeTema:'Magenta';
$LightColor:#FF39D0;
$LightColorSt:'#FF39D0';

$MediumColor:#E623BB;

$DarkColor:#BD009A;
$DarkColorSt:'#BD009A';