.conteudo .interna
{
    margin: 20px auto;
}
.container_curso
{
    /*background-color: gray;*/
    height: 310px;
    margin-top: 20px;
    width: 220px;
    margin-left: 35px;
    float: left;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #5D8CC9;
    padding: 5px;
}
.curso_titulo
{
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #686868; 
}
.curso_carga_horaria
{
    padding: 5px;
    padding-left: 10px;
    color: #7F7F7F;
    font-weight: bold;  
}
.curso_valor
{
    padding-left: 10px;
    padding-top: 5px;
    color: #7F7F7F;
    font-weight: bold;  
}
.curso_valor_parcela {
    padding-left: 10px;
    padding-bottom: 5px;
    color: #7F7F7F;
}
.cursos
{
    padding-left: 20px;
    overflow: hidden;
}
.imagem_miniatura
{
    text-align: center;
    width: 220px;
    margin-top: 10px;
}
.imagem_miniatura img
{
    width: 195px;
    height: 135px;
}
.curso_botao
{
    text-align: center;
    /*background-color: yellow;*/
    height: 30px;
}
.container_curso .conteudo
{
    height: 105px;
}
.container_cursos {
    overflow: hidden;   
}
h2 {
    margin-top: 10px;
}