<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BufferLogConfig" type="Employer.PlataformaLog.Conf.BufferLogConfig, Employer.PlataformaLog" />
    <section name="LogErrorConfig" type="Employer.PlataformaLog.Conf.LogErrorConfig, Employer.PlataformaLog" />
  </configSections>
  <BufferLogConfig Tamanho="10" Timeout="00:00:10" />
  <LogErrorConfig>
    <HttpLogErrorIgnore>
      <!--<add statusCode="404"></add>
      <add statusCode="403"></add>-->
    </HttpLogErrorIgnore>
  </LogErrorConfig>
  <appSettings>
    <add key="GravaLogAuditoria" value="False" />
  </appSettings>
  <connectionStrings>
    <add name="Mensagem" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_MENSAGEM;User ID=bnemensagem_app;Password=123;;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_MENSAGEM;User ID=bnemensagem_app;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_NEW_LOGERRO;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>