/*------------------------------------------------------------ Theme Salmão*/
$nomeTema:'Salmao';
$LightColor:#FF9290;
$LightColorSt:'#FF9290';

$MediumColor:#E98583;

$DarkColor:#AD6462;
$DarkColorSt:'#AD6462';