/*------------------------------------------------------------ Theme Cinza Azulado*/
$nomeTema:'CinzaAzulado';
$LightColor:#9CB8BF;
$LightColorSt:'#9CB8BF';

$MediumColor:#8FA9B0;

$DarkColor:#687A7F;
$DarkColorSt:'#687A7F';