/*------------------------------------------------------------ Theme Saara*/
$nomeTema:'Saara';
$LightColor:#FFC95F;
$LightColorSt:'#FFC95F';

$MediumColor:#F2BF5A;

$DarkColor:#C99F4B;
$DarkColorSt:'#C99F4B';