/*------------------------------------------------------------ Theme Marrom*/
$nomeTema:'Marrom';
$LightColor:#A27F5F;
$LightColorSt:'#A27F5F';

$MediumColor:#99755A;

$DarkColor:#7E564A;
$DarkColorSt:'#7E564A';