<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="RabittMqAppender" type="SharedKernel.Logger.Appenders.RabittMqAppender, SharedKernel.Logger">
    <ApplicationName value="BNE" />
    <Host value="10.1.0.60" />
    <User value="bne" />
    <Password value="bn3@2016" />
    <ExchangeName value="logs" />
    <Topic value="Log.PessoaFisica.Web" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RabittMqAppender" />
  </root>
</log4net>