/*------------------------------------------------------------ Theme Celeste*/
$nomeTema:'Celeste';
$LightColor:#007BA7;
$LightColorSt:'#007BA7';

$MediumColor:#00719A;

$DarkColor:#005A7A;
$DarkColorSt:'#005A7A';