/*------------------------------------------------------------ Theme Azul Persa*/
$nomeTema:'AzulPersa';
$LightColor:#0046A8;
$LightColorSt:'#0046A8';

$MediumColor:#00429E;

$DarkColor:#003175;
$DarkColorSt:'#003175';