/*------------------------------------------------------------ Theme Lilás*/
$nomeTema:'Lilas';
$LightColor:#B740FF;
$LightColorSt:'#B740FF';

$MediumColor:#A439E4;

$DarkColor:#8930BF;
$DarkColorSt:'#8930BF';