/*------------------------------------------------------------ Theme Café*/
$nomeTema:'Cafe';
$LightColor:#634F46;
$LightColorSt:'#634F46';

$MediumColor:#594641;

$DarkColor:#3F2F32;
$DarkColorSt:'#3F2F32';