/*------------------------------------------------------------ Theme Preto*/
$nomeTema:'Preto';
$LightColor:#313131;
$LightColorSt:'#313131';

$MediumColor:#262626;

$DarkColor:#000;
$DarkColorSt:'#000';