@model BNE.Web.Vagas.Models.Estatistica


<i class="fa fa-file-o"></i>
<span class="textos diver">Currículos
    @Model.QuantidadeCurriculo.ToString("N0")
</span>

<i class="fa fa-newspaper-o"></i>
<span class="textos diver">Vagas
    @Model.QuantidadeVaga.ToString("N0")
</span>


<i class="fa fa-building-o"></i>
<span class="textos">Empresas
    @Model.QuantidadeEmpresa.ToString("N0")
</span>


