<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="WebAPILoggerConfig" type="BNE.ExceptionLog.WebAPILoggerConfigurationSection, BNE.ExceptionLog" />
  </configSections>
  <WebAPILoggerConfig ApplicationName="api.pessoafisica.com.br" EndpointURL="http://localhost:64746/api"></WebAPILoggerConfig>
  <appSettings>
    <add key="origins" value="http://localhost:51263"/>
  </appSettings>
  <connectionStrings>
    <add name="PessoaFisica" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE2_PRD;User ID=bne2_app;Password=bN32o&amp;App#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="PessoaFisica" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM_NEW;User ID=bne_app;Password=123;Connect Timeout=240000;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <add name="CONN_BNE" connectionString="Data Source=EMPHW0114209\PRD;Initial Catalog=BNE_IMP;User ID=bne_imp;Password=w3bBn3N0vo; Connect Timeout=120000;Application Name=BNE_WEB" />
    <!--<add name="CONN_BNE" connectionString="Data Source=EMPVW0295\HOM2012;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; "/>-->
    <add name="PLATAFORMA_LOG_ERROEntities" connectionString="metadata=res://*/BDLogErro.csdl|res://*/BDLogErro.ssdl|res://*/BDLogErro.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EMPVW0295\HOM2012;Initial Catalog=PLATAFORMA_LOGERRO_BNE_HOM;Persist Security Info=True;User ID=logerro_app;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <globalization culture="pt-BR" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
