<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BNE.PessoaFisica.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="WebAPILoggerConfig" type="BNE.ExceptionLog.WebAPILoggerConfigurationSection, BNE.ExceptionLog" />
    <section name="BNE.Log.Configuration" type="BNE.Log.Configuration, BNE.Log" />
  </configSections>
  <WebAPILoggerConfig ApplicationName="api.pessoafisica.com.br" EndpointURL="http://localhost:64746/api"></WebAPILoggerConfig>
  <BNE.Log.Configuration Tamanho="5" Timeout="00:00:10" PersistenceLibrary="BNE.Log.ADO.ReadWriteDbLog, BNE.Log.ADO" />
  <appSettings>
    <add key="origins" value="http://localhost:51263" />
    <add key="GravaLogAuditoria" value="False" />
    <add key="BNE.Log.App" value="api.pessoafisica.bne.com.br" />
  </appSettings>
  <connectionStrings>
    <add name="PessoaFisica" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM_NEW;User ID=bne_app;Password=123;Connect Timeout=240000;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CONN_BNE" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_HOM;User ID=bne_app;Password=123; Connect Timeout=240000; " />
    <add name="BNE.Log" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=BNE_LOG_ERRO;User ID=logerro_app;Password=123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="CONN_ATIVIDADE" connectionString="Data Source=EMPVW0150\HOM2012;Initial Catalog=ATIVIDADE_PRD;User ID=atividade_app;Password=@t1vidAd3; Connect Timeout=120000;Application Name=BNE_WEB" />
  </connectionStrings>
  <system.web>
    <globalization culture="pt-BR" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Employer.DAL" publicKeyToken="fcd4c44861dd5ff4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12152.1" newVersion="1.0.12152.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <BNE.PessoaFisica.Domain.Properties.Settings>
      <setting name="BNE_PessoaFisica_Domain_wsInserirEmailAllin_wsInserirEmailBaseService" serializeAs="String">
        <value>http://painel02.allinmail.com.br/wsAllin/inserir_email_base.php</value>
      </setting>
      <setting name="BNE_PessoaFisica_Domain_wsLoginAllin_wsLoginService" serializeAs="String">
        <value>http://painel02.allinmail.com.br/wsAllin/login.php</value>
      </setting>
      <setting name="BNE_PessoaFisica_Domain_wsRemoverEmailAllin_wsRemoverEmailBaseService" serializeAs="String">
        <value>http://painel02.allinmail.com.br/wsAllin/remover_email_base.php</value>
      </setting>
    </BNE.PessoaFisica.Domain.Properties.Settings>
  </applicationSettings>
</configuration>
