/*------------------------------------------------------------ Theme Coral*/
$nomeTema:'Coral';
$LightColor:#F88379;
$LightColorSt:'#F88379';

$MediumColor:#E2776E;

$DarkColor:#B55D56;
$DarkColorSt:'#B55D56';