/*------------------------------------------------------------ Theme Verde2*/
$nomeTema:'Verde2';
$LightColor:#5CCC65;
$LightColorSt:'#5CCC65';

$MediumColor:#4EAD56;

$DarkColor:#224C26;
$DarkColorSt:'#224C26';