@model BNE.PessoaFisica.Web.Models.PreCurriculo

@section scripts {
    @Scripts.Render("~/bundles/pessoa-fisica")
}

<div class="container" id="etapa">
    @Html.Partial("_CadastroEtapa1", Model)
</div>