/*------------------------------------------------------------ Theme Azul Marinho*/
$nomeTema:'AzulMarinho';
$LightColor:#022064;
$LightColorSt:'#022064';

$MediumColor:#022064;

$DarkColor:#011541;
$DarkColorSt:'#011541';