
/* Portrait and Landscape */
@media only screen and (max-width: 480px) {
    .login-card 
    {
        width: 300px;
        margin-left: calc(50% - 150px);
    }

    .lgn-fld-holder, lgn-cdt-holder  {  width: 70%; }

    .cadastro-card 
    {
        width: 400px;
        margin-left: calc(50% - 200px);
    }
}

/* Portrait and Landscape */
@media only screen and (max-width: 320px) {
    .login-card 
    {
        width: 280px;
        margin-left: calc(50% - 140px);
    }

    .cadastro-card 
    {
        width: 280px;
        margin-left: calc(50% - 140px);
    }

    .lgn-fld-holder, .lgn-cdt-holder  {  width: 70%; }
}
