<div>
    <div class="todo">
        <div class="todo-item blue">
            <i class="fa fa-check"></i>
            Weekly Meeting
            <div class="todo-date">Today</div>
        </div>
        <div class="todo-item green">
            <i class="fa fa-check"></i>
            Monthly status...
            <div class="todo-date">09:00pm</div>
        </div>
        <div class="todo-item blue">
            <i class="fa fa-check"></i>
            Upgrade server OS
            <div class="todo-date">03 Jun</div>
        </div>
        <div class="todo-item green">
            <i class="fa fa-check"></i>
            Weekly technical...
            <div class="todo-date">28 May</div>
        </div>
        <div class="todo-item green">
            <i class="fa fa-check"></i>
            Project materials
            <div class="todo-date">20 May</div>
        </div>
        <div class="todo-item yellow">
            <i class="fa fa-check"></i>
            Project status...
            <div class="todo-date">15 May</div>
        </div>
        <div class="todo-item">
            <i class="fa fa-check"></i>
            Anual project...
            <div class="todo-date">03 May</div>
        </div>
        <div class="todo-item yellow">
            <i class="fa fa-check"></i>
            Prepare project...
            <div class="todo-date">26 Apr</div>
        </div>
    </div>
    <div class="widget grid4">
        <div class="widget-header">
            <h2 class="page-title">
                <i class="fa fa-exclamation-circle"></i>ALERTAS
            </h2>
        </div>
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Warning!</strong> Bur monthly traffic...
        </div>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Success!</strong> The page has been...
        </div>
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Info!</strong> You have 24 unread mess...
        </div>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> The Chart page has...
        </div>
    </div>
</div>