/*------------------------------------------------------------ Theme Âmbar*/
$nomeTema:'Ambar';

$LightColor:#FFBF00;
$LightColorSt:'#FFBF00';

$MediumColor:#E4AA05;

$DarkColor:#B5850F;
$DarkColorSt:'#B5850F';