/*------------------------------------------------------------ Theme Bizancio*/
$nomeTema:'Bizancio';
$LightColor:#724DB2;
$LightColorSt:'#724DB2';

$MediumColor:#684698;

$DarkColor:#533861;
$DarkColorSt:'#533861';