/*------------------------------------------------------------ Theme Champagne*/
$nomeTema:'Champagne';
$LightColor:#F7E7CE;
$LightColorSt:'#F7E7CE';

$MediumColor:#E5D5BC;

$DarkColor:#BDAC92;
$DarkColorSt:'#BDAC92';