@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" href="/Content/css/global/boilerplate.css" />
	<link rel="stylesheet" href="/Content/css/local/index.css" />
    <link rel="stylesheet" href="/Content/css/global/modal.css" />
    <meta charset="utf-8">
	</head>
    <body>
            <div id="primaryContainer" class="primaryContainer clearfix">
            <div id="bg" class="clearfix">
            <div id="box-destaq-1" class="clearfix">
                <a id="Box-hover" href="#" class="clearfix">
                </a>
                <div id="Box-logo" class="clearfix">
                    <img id="image_0" src="/Content/img/layout/logoVolvo.png" class="image" />
                </div>
                <p id="labelLogo">
                Volvo
                </p>
                <p id="labelResenha">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation incidunt.
                </p>
            </div>
            <div id="box-destaq-2" class="clearfix">
                <a id="Box-hover1" href="#" class="clearfix">
                </a>
                <div id="Box-logo-2" class="clearfix">
                    <img id="image1" src="/Content/img/layout/logo2.png" class="image" />
                </div>
                <p id="labelLogo-2">
                GVT
                </p>
                <p id="labelResenha-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation incidunt.
                </p>
            </div>
            <div id="BoxDestaqueSmall" class="clearfix">
                <div id="box-1" class="clearfix">
                    <a id="Box-hover2" href="#" class="clearfix">
                    </a>
                    <div id="Box-logo-p1" class="clearfix">
                        <img id="image2" src="/Content/img/layout/logo3.png" class="image" />
                    </div>
                    <p id="labelLogo-p1">
                    Oi
                    </p>
                    <p id="labelResenha-p1">
                    Empresa pioneira na prestação de serviços convergentes no país.
                    </p>
                </div>
                <div id="box-2" class="clearfix">
                    <a id="Box-hover3" href="#" class="clearfix">
                    </a>
                    <div id="Box-logo-p2" class="clearfix">
                        <img id="image3" src="/Content/img/layout/logo4.png" class="image" />
                    </div>
                    <p id="labelLogo-p2">
                    BrasilSat
                    </p>
                    <p id="labelResenha-p2">
                    Fabricante de soluções em telecomunicações e defesa do Brasil.
                    </p>
                </div>
                <div id="box-3" class="clearfix">
                    <a id="Box-hover4" href="#" class="clearfix">
                    </a>
                    <div id="Box-logo-p3" class="clearfix">
                        <img id="image4" src="/Content/img/layout/logo3.png" class="image" />
                    </div>
                    <p id="labelLogo-p3">
                    Oi
                    </p>
                    <p id="labelResenha-p3">
                    Empresa pioneira na prestação de serviços convergentes no país.
                    </p>
                </div>
                <div id="box-4" class="clearfix">
                    <a id="Box-hover5" href="#" class="clearfix">
                    </a>
                    <div id="Box-logo-p4" class="clearfix">
                        <img id="image5" src="/Content/img/layout/logo4.png" class="image" />
                    </div>
                    <p id="labelLogo-p4">
                    BrasilSat
                    </p>
                    <p id="labelResenha-p4">
                    Fabricante de soluções em telecomunicações e defesa do Brasil.
                    </p>
                </div>
            </div>
            <div id="article" class="clearfix">
                <div id="boxPadrao" class="clearfix">
                    <a id="Box-hover6" href="#" class="clearfix">
                    </a>
                    <div id="Box-logo1" class="clearfix">
                    </div>
                    <p id="labelLogo1">
                    Oi
                    </p>
                    <p id="labelResenha1">
                    Empresa pioneira na prestação de serviços convergentes no país.
                    </p>
                </div>
                <div id="boxPadrao-2" class="clearfix">
                    <a id="Box-hover7" href="#" class="clearfix">
                    </a>
                    <div id="BoxLogoPadrao-2" class="clearfix">
                    </div>
                    <p id="labelLogoPadrao-2">
                    Oi
                    </p>
                    <p id="labelResenhaPadrao-2">
                    Empresa pioneira na prestação de serviços convergentes no país.
                    </p>
                </div>
                <div id="boxPadrao-3" class="clearfix">
                    <a id="Box-hover8" href="#" class="clearfix">
                    </a>
                    <div id="BoxLogoPadrao-3" class="clearfix">
                    </div>
                    <p id="labelLogoPadrao-3">
                    Oi
                    </p>
                    <p id="labelResenhaPadrao-3">
                    Empresa pioneira na prestação de serviços convergentes no país.
                    </p>
                </div>
                <div id="boxPadrao-4" class="clearfix">
                    <a id="Box-hover9" href="#" class="clearfix">
                    </a>
                    <div id="BoxLogoPadrao-4" class="clearfix">
                    </div>
                    <p id="labelLogoPadrao-4">
                    Oi
                    </p>
                    <p id="labelResenhaPadrao-4">
                    Empresa pioneira na prestação de serviços convergentes no país.
                    </p>
                </div>
                <div id="boxPadrao-5" class="clearfix">
                    <a id="Box-hover10" href="#" class="clearfix">
                    </a>
                    <div id="BoxLogoPadrao-5" class="clearfix">
                    </div>
                    <p id="labelLogoPadrao-5">
                    Oi
                    </p>
                    <p id="labelResenhaPadrao-5">
                    Empresa pioneira na prestação de serviços convergentes no país.
                    </p>
                </div>
                <div id="boxPadrao-6" class="clearfix">
                    <a id="Box-hover11" href="#" class="clearfix">
                    </a>
                    <div id="BoxLogoPadrao-6" class="clearfix">
                    </div>
                    <p id="labelLogoPadrao-6">
                    Oi
                    </p>
                    <p id="labelResenhaPadrao-6">
                    Empresa pioneira na prestação de serviços convergentes no país.
                    </p>
                </div>
            </div>
        </div>
        <div id="top-bar" class="clearfix">
            <label id="formgroup">
                <p id="text">
                Text
                </p>
                <input/ id="textinput" type="text" value="Text"><input/>
            </label>
            <label id="formgroup1">
                <p id="text1">
                Text
                </p>
                <input/ id="textinput1" type="text" value="Text"><input/>
            </label>
            <p id="Lan_TODA_HORA">
            Lan TODA HORA
            </p>
            <label id="formgroup2">
                <p id="text2">
                <br />
                </p>
                <input id="textinput2" type="text" value="Em qual empresa deseja trabalhar?"></input>
            </label>
            <div id="search-btn" class="clearfix">
                <img id="lupa" src="/Content/img/layout/lupa.png" class="image" />
            </div>
            <p id="nome">
            Fernando Ferreira
            </p>
            <div id="containerFoto" class="clearfix">
                <img id="image6" src="/Content/img/layout/foto.png" class="image" />
            </div>
        </div>
    </div>

        @* - Início - botão abre a modal no corpo da página*@
        <a href="#modal" id="divFecha" onclick="hideDiv()"><img id="btnInfo" src="/Content/img/modal/btnInfo.png" title="Como usar!" class="image" /></a>
        @* - Fim - botão abre a modal no corpo da página*@

        @* - Início - modal*@
        <div id="modal" class="janelaModal">
        <img id="pesquisarEmpresaArrow" src="/Content/img/modal/pesquisarEmpresaArrow.png" class="image" />
        <img id="dadosArrow" src="/Content/img/modal/dadosArrow.png" class="image" />
        <a href="#" onclick="showDiv()"><img id="btnClose" src="/Content/img/modal/btnClose.png" class="image" /></a>
        <img id="empresaArrow" src="/Content/img/modal/empresaArrow.png" class="image" />
        </div>
        @*  - FIM - modal*@
    </body>
        @* - Início - javascript da modal*@
        <script src="/Scripts/global/modal.js" type="text/javascript"></script>
        @* - Fim - javascript da modal*@
</html>